.tab-label{
    font-family: 'Roboto' !important;
    font-size: 18px !important;
}

.close-icon-placement{
    text-align: right;
    margin-top: 10px;
    margin-right: 16px;
}

.close-icon{
    font-size: 30px;
    cursor: pointer;
}