.task-header {
font-size: 18px;
  background-color: #123969;
  color: white;
  height: 50px;
}

body {
  padding: 0px !important;
}

.loader-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.10);
  display: flex;
  align-items: center;
  justify-content: center;
}

::ng-deep.loader-wrapper circle,
.loader-wrapper circle {
  stroke: rgb(40, 97, 194) !important;
}

.content {
  width: 100%;
  pointer-events: none;
  height: 268px;
  padding-top: 49px;
  margin-top: -43px;
  margin-right: 0px;
}
.dropzone{
  width: 400px;
  height: 330px;
  padding: 1rem;
  text-align: center;
  border: dashed 1px #2c2929;
  position: relative;
  margin: 0 auto;
  margin-bottom: 30px;
}
.subTitle{
  margin: 0;
  font-family: "Roboto";
  overflow-wrap: break-word;
  position: relative;
  top:-6px;
}
.container .btn {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  color: #123969;
  border: 1px solid black;
  font-size: 36px;
  height: 218px;
  width: 99%;
  padding: 12px 24px;
  cursor: pointer;
  text-align: center;
  border-radius: 2px;
  border: 1px dashed #929292;
}
.scroll{
  overflow-y: scroll;
  height: 220px;
  overflow:hidden;
  border:white;
  filter: blur(2px);
  cursor: pointer;
}
.reupload-input{
  position: absolute;
    width: 31%;
    height: 15%;
    top: 260px;
    left: 134px;
    cursor: pointer;
}
input{
  opacity: 0;
  position: absolute;
  width: 99%;
  height: 239px;
  top: -2px;
  left: -3px;
  cursor: pointer;
}
.blue{
  background-color: #123969;
  width: 128px;
  color: white;
  position: relative;
  top: 2px;
}
.file-reupload{
  background-color: #198754;
  width: 128px;
  color: white;
  position: relative;
  top: 2px;
}
.icon{
  color: #123969;
  font-size: 96px;
  margin-right: 81px;
}
.uploaded-icon{
  position: relative;
    top: 4px;
    color: #1baf3b;
}
.btn{
  margin-top: 0.2cm;
 
}
.container {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.container img {
  width: 98%;
  height: 216px;
}
.pdf-view{
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  cursor: pointer;
}
.close-btn{
  height: 40px;
  background-color: #123969;
  color: white;
  width: 110px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}
.spinner-container{
  height: 800px;
  width: 960px;
  background-color: rgb(0 0 0 / 10%);;
  position: relative;
  bottom: 540px;
}
.spinner{
  margin: -240px auto 0px;
  position: relative;
  top: 346px;
}
h4{
  font-family: Roboto !important;
}
.disable{
  cursor :not-allowed;
}