<!--AGENT SETTLEMENT HISTORY-->  



<!-- Filter Section -->
<div [class.mat-elevation-z2]="!isActive" [class.mat-elevation-z8]="isActive" class="search-filter-1" >

    <form [formGroup]="filterForm">
        <div  fxLayout="row" fxLayoutGap="10px" style="margin-left: 15px; align-items: center;" >
            <mat-icon (click)="goToAgentSettlements()" class="arrow-back-icon">keyboard_arrow_left</mat-icon>
            <div fxLayout="column">
                
                <div>
                    <mat-form-field appearance="{{'formFieldAppearance' | label}}" style="font-size: 15px;">
                        <mat-label class="custom-label">Agent Name</mat-label>
                        <input formControlName="agentName" [formControl]="filterForm.controls['agentName']" matInput
                            class="form-control" readonly="true">
                    </mat-form-field>
                </div>
            </div>

            <div fxLayout="column" style="margin-right: 10px;">
            
                <div>
                    <mat-form-field appearance="{{'formFieldAppearance' | label}}" style="font-size: 15px;">
                        <mat-label class="custom-label">Start Date</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="startDate"
                            [formControl]="filterForm.controls['startDate']" (dateChange)="onStartDateChange($event)" [min]="minStartDate">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-hint align="end">(DD/MM/YYYY)</mat-hint>
                    </mat-form-field>
                </div>
            </div>

            <div fxLayout="column">
                <div>
                    <mat-form-field appearance="{{'formFieldAppearance' | label}}" style="font-size: 15px;">
                        <mat-label class="custom-label">End Date</mat-label>
                        <input matInput formControlName="endDate" [formControl]="filterForm.controls['endDate']"
                            [matDatepicker]="picker2" (dateChange)="onEndDateChange($event)" [min]="minEndDate" [max]="maxEndDate" >
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                        <mat-hint align="end">(DD/MM/YYYY)</mat-hint>
                    </mat-form-field>
                </div>
            </div>

            <button [disabled]="!filterForm.valid" mat-raised-button  (click)="searchFilter()"
                class="buttonApplyfilter">Fetch</button>
        </div>
    </form>

</div>


<div class="table-wrapper">
    <div class="mat-elevation-z8">
    
    <div [ngStyle]="changeTableHeight()">
    <table class="table">
    <thead>
               <th>AGENT ID</th>
               <th>AGENT NAME</th>
               <th>DEBIT</th> 
               <th>CREDIT</th>
               <th>OPENING BALANCE</th> 
               <th>OUTSTANDING BALANCE</th>
               <th>DATE</th>
               <th>ACTION</th>
</thead>
    
<tbody>
   
      <tr *ngFor="let agentSettlement of agentSettlement | slice: (p - 1) * itemsPerPage : p * itemsPerPage ">
         <td> {{agentSettlement.ENTITYID}} </td>
         <td> {{agentSettlement.ENTITYNAME}}</td>
         <td> {{agentSettlement.DEBIT | number }} SGD</td>
          <td>{{agentSettlement.CREDIT | number }} SGD </td> 
         <td [ngClass]="{'negative-amount': agentSettlement.OPENINGBALANCE < 0, 'positive-amount': agentSettlement.OPENINGBALANCE >= 0}"> {{agentSettlement.OPENINGBALANCE | number }} SGD </td>
         <td [ngClass]="{'negative-amount': agentSettlement.OUTSTANDINGBALANCE < 0, 'positive-amount': agentSettlement.OUTSTANDINGBALANCE >= 0}"> {{agentSettlement.OUTSTANDINGBALANCE | number }}  </td>
         <td> {{ agentSettlement.CREATEDDATE | date:'medium'}} </td>
         <td> 
            <div class="center-content">
                <button
                #tooltip="matTooltip"
                matTooltip="Download Transaction Summary"
                matTooltipPosition="above"
                matTooltipClass="accounts-custom-tooltip"
               class="icon_button" mat-icon-button type="button"
               (click)="downloadLedgerFile(agentSettlement.ACCOUNTNO,agentSettlement.CREATEDDATE,agentSettlement.ENTITYNAME)"> 
                <mat-icon class="picture-as-pdf-icon">picture_as_pdf</mat-icon>    
                </button>
             </div>
         </td>
      </tr>
</tbody>
</table>
</div>
<mat-paginator class="pagination-class"
[length]="agentSettlement.length"
[pageSize]="itemsPerPage"
[pageIndex]="p - 1"
(page)="handlePageChange($event)"
></mat-paginator>
</div>
 <!--Loader-->
<div *ngIf="loader" class="loader-wrapper">
    <mat-spinner> </mat-spinner>
</div>
</div>
