

<div class="title-container">

    <div fxLayout="row" fxLayoutAlign="space-between">
    <div class="center-div">
        <div fxLayout="column" fxLayoutGap="10px"  style="align-items: center;">
            <h2 class="privacy-policy"> Terms and Conditions </h2>
        </div>
    </div>

    <div>
        <mat-icon class="close-icon" [mat-dialog-close]="true">close</mat-icon>
    </div>
    </div>

</div>

<div class="scroll-content">

<div  class="content-margin">
  <div>  

    <span class="values" style="position: relative;top: 8px;">
        These terms and conditions (“Agreement”) set forth the general terms and conditions of your use of the
    “APT REMITTANCE” mobile application (“Mobile Application” or “Service”) and any of its related products
    and services (collectively, “Services”). This Agreement is legally binding between you (“User”, “you” or
    “your”) and Arcade Plaza Traders (doing business as “APT”, “we”, “us” or “our”). If you are entering into
    this Agreement on behalf of a business or other legal entity, you represent that you have the authority to
    bind such entity to this Agreement, in which case the terms “User”, “you” or “your” shall refer to such
    entity. If you do not have such authority, or if you do not agree with the terms of this Agreement, you must
    not accept this Agreement and may not access and use the Mobile Application and Services. By
    accessing and using the Mobile Application and Services, you acknowledge that you have read,
    understood, and agree to be bound by the terms of this Agreement. You acknowledge that this Agreement
    is a contract between you and APT, even though it is electronic and is not physically signed by you, and it
    governs your use of the Mobile Application and Services.
    
    </span>

    <span style="position: relative;top: 9px;">
    <h3 class="sub-heads">Table of contents</h3>
<ol>
    <li class="listOfContents" (click)="scrollToContent('1')" >Accounts and membership</li>
    <li class="listOfContents" (click)="scrollToContent('2')" >Links to other resources</li>
    <li class="listOfContents" (click)="scrollToContent('3')" >Changes and amendments</li>
    <li class="listOfContents" (click)="scrollToContent('4')" >Acceptance of these terms</li>
    <li class="listOfContents" (click)="scrollToContent('5')" >Contacting us
    </li>
  </ol> 
  </span>

    <h3 class="sub-heads" #accountsAndMembership> 1. Accounts and membership</h3>
    <p class="values"> 
        You must be at least 13 years of age to use the Mobile Application and Services. By using the Mobile
Application and Services and by agreeing to this Agreement you warrant and represent that you are at
least 13 years of age. If you create an account in the Mobile Application, you are responsible for
maintaining the security of your account and you are fully responsible for all activities that occur under
the account and any other actions taken in connection with it. We may, but have no obligation to, monitor
and review new accounts before you may sign in and start using the Services. Providing false contact
information of any kind may result in the termination of your account. You must immediately notify us of
any unauthorized uses of your account or any other breaches of security. We will not be liable for any acts
or omissions by you, including any damages of any kind incurred as a result of such acts or omissions.
We may suspend, disable, or delete your account (or any part thereof) if we determine that you have
violated any provision of this Agreement or that your conduct or content would tend to damage our
reputation and goodwill. If we delete your account for the foregoing reasons, you may not re-register for
our Services. We may block your email address and Internet protocol address to prevent further
registration.
    </p>

    <h3 class="sub-heads" #linksToOtherRes> 2. Links to other resources</h3>
    <p class="values"> 
        Although the Mobile Application and Services may link to other resources (such as websites, mobile
applications, etc.), we are not, directly or indirectly, implying any approval, association, sponsorship,
endorsement, or affiliation with any linked resource, unless specifically stated herein. We are not
responsible for examining or evaluating, and we do not warrant the offerings of, any businesses or
individuals or the content of their resources. We do not assume any responsibility or liability for the
actions, products, services, and content of any other third parties. You should carefully review the legal
statements and other conditions of use of any resource which you access through a link in the Mobile
Application. Your linking to any other off-site resources is at your own risk.
    </p>

    <h3 class="sub-heads" #changesAndAmendments> 3. Changes and amendments</h3>
    <p class="values"> 
        We reserve the right to modify this Agreement or its terms related to the Mobile Application and Services
        at any time at our discretion. When we do, we will revise the updated date at the bottom of this page, post
        a notification in the Mobile Application. We may also provide notice to you in other ways at our discretion,
        such as through the contact information you have provided.
    </p>

    <h3 class="sub-heads" #acceptanceOfTheseTerms> 4. Acceptance of these terms</h3>
    <p class="values"> 
        You acknowledge that you have read this Agreement and agree to all its terms and conditions. By
accessing and using the Mobile Application and Services you agree to be bound by this Agreement. If you
do not agree to abide by the terms of this Agreement, you are not authorized to access or use the Mobile
Application and Services.
    </p>

    <h3 class="sub-heads" #contactingUs> 5. Contacting us</h3>
    <p class="values"> 
        If you have any questions, concerns, or complaints regarding this Agreement, we encourage you to
contact us using the details below:
<br>
 <span style="color: #1376d3;;">remittance@aptonline.com.sg </span>
    </p>

    <p class="values">This document was last updated on April 11, 2024</p>
  </div>
</div>





</div>

