
<!--Import or Export radio options-->

<mat-radio-group aria-label="Select an option" (change)="onSelectionChange($event)">
    <mat-radio-button *ngFor="let options of radioOptionsArray" 
    [value]="options.value" [checked]="options.checked" [disabled]="options.disabled"
    > {{options.displayValue}} </mat-radio-button>
</mat-radio-group>


<div class="scrollable-content">
    <!--Search filter Section-->
    <!-- <div [class.mat-elevation-z2]="!isActive" [class.mat-elevation-z8]="isActive" class="search-filter">
      <form [formGroup]="filterForm">
  
        <div fxLayout="row" fxLayoutAlign="space-between">
  
          <div class="inner-container">
  
  
            <button mat-raised-button (click)='xpandStatus = !xpandStatus' class="buttonApplyfilter">
              <mat-icon class="add-filter-icon">add</mat-icon>
              Add Filter
            </button>
  
  
          </div>
  
         
        </div>
  
  
  
        <mat-divider style="position: relative;top: 22px;"></mat-divider>
  
        <div class="custom-filter-values">
          <div *ngFor="let filterValues of filterValues" fxLayout="column" class="margin-space" fxLayoutGap="2px">
            <p class="subGroups"> {{filterValues.fieldName ? filterValues.fieldName : ""}} </p>
            <p class="payeeName"> {{filterValues.value ? filterValues.value : ""}} </p>
          </div>
  
  
        </div>
  
  
  
        <div fxLayout="column" fxLayoutGap="1px">
  
          <div fxLayout="row" fxLayoutGap="10px">
  
  
  
          </div>
          <mat-accordion #accordion="matAccordion">
            <mat-expansion-panel style="width: fit-content;background-color: #ffffff;z-index: 999;"
              #mapanel="matExpansionPanel" [(expanded)]="xpandStatus">
  
              <h4 class="filter-title"> Filters </h4>
           
  
              <div fxLayout="row" class="row-items">
  
                <div fxLayout="column">
                  <p class="p"> Currency Code </p>
                  <mat-form-field appearance="{{'formFieldAppearance' | label}}">
                    <input matInput formControlName="ccyCode" [formControl]="filterForm.controls['ccyCode']">
                  </mat-form-field>
                </div>
  
  
                <div fxLayout="column" style="margin-left: 10px;">
                  <p class="p"> TransType </p>
                  <mat-form-field appearance="{{'formFieldAppearance' | label}}">
                    <mat-select [formControl]="filterForm.controls['type']">
                      <mat-option *ngFor="let type of typeList" [value]="type.value"> {{type.description}} </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
  
  
  
              </div>
  
              <div fxLayout="row" class="row-items">
  
                <div fxLayout="column">
                  <p class="p"> Status </p>
                  <mat-form-field style="width: 414px;" appearance="{{'formFieldAppearance' | label}}">
                    <mat-select [formControl]="filterForm.controls['status']" multiple>
                      <mat-option *ngFor="let status of statusList" [value]="status.value"> {{status.description}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
  
  
  
              </div>
  
              <div fxLayout="row" class="row-items">
  
                <div fxLayout="column">
                  <p class="p">Start Date</p>
                  <div>
                    <mat-form-field appearance="{{'formFieldAppearance' | label}}" style="width: 206px;">
                      <input matInput [matDatepicker]="picker" formControlName="startDate"
                        [formControl]="filterForm.controls['startDate']" (dateChange)="onStartDateChange($event)"
                        [min]="minStartDate">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                      <mat-hint align="end">(DD/MM/YYYY)</mat-hint>
                    </mat-form-field>
                  </div>
                </div>
  
                <div fxLayout="column" style="margin-left: 10px;">
                  <p class="p">End Date</p>
                  <div>
                    <mat-form-field appearance="{{'formFieldAppearance' | label}}" style="width: 198px;">
                      <input matInput formControlName="endDate" [formControl]="filterForm.controls['endDate']"
                        [matDatepicker]="picker2" (dateChange)="onEndDateChange($event)" [min]="minEndDate"
                        [max]="maxEndDate">
                      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                      <mat-datepicker #picker2></mat-datepicker>
                      <mat-hint align="end">(DD/MM/YYYY)</mat-hint>
                    </mat-form-field>
                  </div>
                </div>
  
              </div>
  
  
              <mat-action-row style="padding: 0px !important;">
                <div fxLayout="row" fxLayoutAlign="space-between" style="width: 100%;">
                  <div>
                    <button mat-flat-button class="close-button" (click)="xpandStatus = !xpandStatus"
                      type="button">Close</button>
                  </div>
                  <div>
                    <button mat-flat-button class="reset-button" (click)="resetFilter()" type="button">Reset</button>
                    <button mat-flat-button class="submit-button" [disabled]="!filterForm.valid" (click)="searchFilter()">
                      Apply Filter</button>
                  </div>
                </div>
              </mat-action-row>
  
            </mat-expansion-panel>
          </mat-accordion>
  
  
  
        </div>
  
      </form>
  
  
  
  
    </div> -->
  
  
    <div class="table-wrapper">
      <div class="mat-elevation-z8">
        <div [ngStyle]="changeTableHeight()">
          <table class="table">

          
            <thead>
              <tr>
                <th><mat-icon>crop_square</mat-icon></th>
                <th>TYPE</th>
                <th>CURRENCY</th>
                <th>F.AMOUNT</th>
                <th>RATE</th>
                <th>L.AMOUNT</th>
                <th>VALUE DATE</th>
                <th>REMARKS</th>
                <th> ACTION </th>
  
  
              </tr>
            </thead>
  
            <tbody>
              <tr *ngFor="let search of dealListings | slice: (p - 1) * itemsPerPage : p * itemsPerPage; index as i; ">
                <td>
                  <div class="checkbox"> <mat-checkbox  [disabled]="!isToday(search.valueDate)" (change)="selectedCheckBox($event,i,search.dealItemId)">
                    </mat-checkbox> </div>
                </td>
                <td>
                  <div *ngIf="search.buySellInd == 'B'"> BUY </div>
                  <div *ngIf="search.buySellInd == 'S'"> SELL </div>
                </td>
                <td>
                  <div fxLayout="row">
                  <div> {{search.ccyCode}} </div>
                  <div class="currency-sub-value"> {{search.ccyNo}} </div>
                </div>
              </td>
                <td>{{search.amountF | number}}</td>
                <td>{{search.exchRateL}}</td>
                <td>{{search.amountL | number}}</td>
                <td>{{search.valueDate | date : 'mediumDate'}}</td>
                <td style="color: red" >{{search.remarks}}</td>
               
              
              

            

                <td>
                  <button mat-button class="edit-icon" #tooltip="matTooltip" matTooltip="Go to deal list for editing" matTooltipPosition="above"
                    matTooltipClass="accounts-custom-tooltip" [mat-dialog-close]="true" 
                    (click)="navigateEditDealDialog(search.dealItemId)">
                    <mat-icon>create</mat-icon>
                  </button>
                </td>
  
  
  
              </tr>
            </tbody>
  
          </table>
        </div>
        <mat-paginator class="pagination-class" [length]="dealListings.length" [pageSize]="itemsPerPage"
          [pageIndex]="p - 1" (page)="handlePageChange($event)"></mat-paginator>
      </div>
      <!--Loader-->
      <div *ngIf="loader" class="loader-wrapper">
        <mat-spinner> </mat-spinner>
      </div>
    </div>
  
    <div class="btn">
      <div class="mat-elevation-z8" style="justify-content: right;" *ngIf="showOKButton">
        <button mat-raised-button fxFlex="10" type="button" (click)="navigateParentScreen()" class="fetchCustomerButton">Ok</button>
      </div>
  
    </div>
  
  
  </div>