.red{
    color: red;
}
.white{
    background-color: white;
    color:  Indigo;
    border: white solid;
    cursor: pointer;
}
.color{
    border-radius: 1cm;
    background-color: #F9D0AC;
}

.loader-container {
    display: flex;
    align-items: end;
    justify-content: end;
    position: relative;
    /* top: -36px; */
    left: -23px;
    height: 0px;

  }