
.circular-btn{
  background-color: #123969 ;
}
.oval-btn{
  background-color: #123969;
}
.rectangular-btn{
    background-color: #123969;
}
.login-btn{
    background-color: #123969;
}
.mat-labeltext{
  font-size: 15px;
}

.labeltextdesktop{
  font-size: 18px;
}

.applyFilter-btn{
  background-color: #123969;
  color: white;
  height: 48px;
  width: 130px;
  position: relative;
  top: 15px;
  margin-left: 16px;
}

