
p {
  margin: 0.6cm;
  height: 3px;
}

.sorting {
  margin: 0.4cm;
  height: 2px;
}

.filter-button {
  height: 48px;
  margin-top: 0.2cm;
  font-weight: 12px;
  padding-right: 0.7cm;
}


.red {
  color: rgb(18, 135, 231)
}

img {
  height: 32px;
  border-radius: 4.2cm;
}

.example-section {
  margin: 12px 0;
}

.example-button-container {
  width: 100px;
  height: 41px;
}

.launch-icon {
  background-color: #ffffff;
  color: #123969;
}

.customer-type-icon{
  color: rgb(3 102 160 / 59%);
  font-size: 30px;
}



.btn {
  height: 35px;
}


.btnAdd {
  background-color: #123969;
  color: white;
  height: 52px;
  /* margin-top: 3px; */
  margin-right: 35px;
  width: 160px;
  position: relative;
  top: 13px;
}

.icon {
  color: rgb(255, 255, 255);
}

.search-icon {
  color: #123969;
}



.customerTypeButton {
  height: 49px;
  margin-top: 6px;
  background-color: #123969;
  color: white;

}

.option {
  width: 100%;
  height: 36px;

}

.buttonApplyfilter {
  background-color: #123969;
  color: white;
  height: 48px;
  margin-top: 49px;
}




.height {
  line-height: 4px;
  margin-bottom: 22px;
}


.p {
  font-family: 'Roboto';
  font-size: 16px;
  margin-left: 8px;
  margin-bottom: 16px;
}



.tags
{
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 6px;
  width: fit-content;
}

.status-tag
{
  line-height: 20px;
  padding: 5px 10px;
  margin: 3px 0;
  display: inline-block;
  font-family: Roboto;
  white-space: nowrap;
}

.small-container{
  border: 1px solid #e6e6e6;
  width: 10px;
  height: 10px;
  position: relative;
  top: 12px;
  left: 5px;
  border-radius: 5px;
  margin-inline: 2px;

}


.tooltip-warning-icon {
  position: relative;
  top: 26px;
}



.subGroups {
  font-family: 'Roboto';
  font-style: normal;
  font-size: 14px;
  white-space: nowrap;
  // padding-left: 16px;
  color: #8f8f8f;
  position: relative;
  top: 7px;
}

.payeeName {
  font-family: 'Roboto';
  font-style: normal;
  font-size: large;
  color: #000000;
  position: relative;
  top: 1px;
}

.div-height {
  // margin: 10px;
  font-size: 13px;
}

.error-message {
  font-size: 14px;
  position: relative;
  left: 8px;
  top: -11px;
  color: red;
}

.formfield-icon {
  position: relative;
  top: 2px;
  font-size: 23px;
}

.reset-button {
  width: 105px;
  height: 53px;
  border-radius: 0.2cm;
  margin: 0.4cm;
  background-color: #ffffff;
  cursor: pointer;
  color: #5E5ADB;
  font-family: 'Roboto';
  font-size: 15px;
}
.close-button{
  width: 111px;
    height: 40px;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    left: 22px;
    top: 6px;
    color: white;
    background-color: #504e4e;
    cursor: pointer;
    font-size: 16px;
    font-family: "Roboto";
    /* border: 1px solid #b6b4b4;*/
}
.filter-title {
  
  color: #100f0f;
  font-family: 'Roboto';
  margin-bottom: -10px;
  margin-top: 20px;
  position: relative;
  left: 5px;
  font-size: 22px;

}

.row-items {
  margin-bottom: 2px;
}

.submit-button {
  width: 140px;
  height: 50px;
  border-radius: 0.2cm;
  margin: 0.4cm;
  background-color: #123969;
  font-family: 'Roboto';
  cursor: pointer;
  color: white;
  font-size: 15px;
}

.show-results {
  margin-right: -14px;
  color: grey;
  font-size: 18px;
  font-family: 'Roboto';
}

.margin-space {
  position: relative;
  top: -12px;
}

.add-filter-icon {
  position: relative;
  top: -1px;
}


.menu-container{
  width: 154px;
}

.menu-item{
  font-size: 17px;
}
