.card{
    background-color: rgba(196, 196, 196, 0.24);
    border-radius: 0.5cm;
    
}

.font{
    text-align: center;
    font-size: 25px;
}

img{
    width: 210px;
    height: 143px;
    left: 108px;
    top: 549px;
    }

    .logo{
        text-align: center;
        font-size: 20px;
        }    