.success{
    color: green;
    margin: 20px;
    font-size: 19px;
}
.link{
    color: rgb(0, 89, 255);
    cursor: pointer;
}
.close{
    text-align: right;
    position: relative;
    left: -30px;
    font-size: 23px;
    top: 13px;
}

.rejection-message{
    color: red;
}