.content-fit{
    text-align: center;
    /* justify-content: center; */
    /* align-items: center; */
    margin-top: 59px;
    height: 453px;
    overflow-y: scroll;
}
.backButton{
    font-size: 17px;
    height: 19px;
}
.task-header {
font-size: 18px;
    background-color:#123969;
    color: white;
}
.dialogButton{
    margin: 12px;
    margin-top: 90px;
    padding-left: 0.3cm;
}
.mat-mdc-button{
    width: 13%;
    border-radius: 1cm;
}