
.btn{
    text-align: left;
}
.disabledField{
    color: #7c7c7c;
}

.bolder{
    font-size: 18px;
    font-weight: 650;
    background-color: #d0cdcd;
    line-height: 35px;
    font-family: 'Roboto';
    padding-left: 15px;
    margin-top: 17px;
}

.card{
    background-color: white;
    border: 0.1px solid rgb(101, 99, 99);
    //height: 10cm;
    
}

.color{
font-weight: bold;
}

.font{
color: #7c7c7c;
}