
.btn{
    text-align: left;
    margin-top: 60px;
}

.bolder{
    font-size: 18px;
    font-weight: 650;
    background-color: #d0cdcd;
    line-height: 35px;
    font-family: 'Roboto';
    padding-left: 15px;
    margin-top: 17px;
}
.disabledField{
    color: #7c7c7c;
}