<div class="header mat-elevation-z1">
    <div class="row">
    <h5> Hello {{agentName | titlecase}} ! </h5>
    <h5> {{myDate | date}}</h5> 
    </div>
  </div>


  <div fxLayout="row">
    <!--Application Widget-->
    
      <div  class="flexbox-item1" fxFlex="20" >
         <h4>{{agentName | titlecase}} Initiated<br>Transactions</h4>
    <!--Edited by Shafi @ 07/11/2022-->
         <a routerLink="/agent/agent-remittance" (click)="agentInitatedTransaction()" routerLinkActive="active" fxLayoutAlign="center">{{agentTransactionCount}}</a>
      </div>
      
      
  
   <!--Remmitance FlexBox-->   
   
    
      <div class="flexbox-item2" fxFlex="20">
            
    <h4>APT Initiated Transactions</h4>
  <!--Edited by Shafi @ 07/11/2022-->
    <a class="link" routerLink="/agent/agent-remittance" routerLinkActive="active" fxLayoutAlign="center">{{orgTransactionCount}}</a>
   </div>

        <!--Loader-->
  <div *ngIf="loader" class="loader-wrapper">
    <mat-spinner diameter="50"> </mat-spinner>
    </div>
      </div>