
p {
  margin: 0.6cm;
  height: 3px;
}

.sorting {
  margin: 0.4cm;
  height: 2px;
}

.filter-button {
  height: 48px;
  margin-top: 52px;
  font-weight: 12px;
  padding-right: 0.7cm;
}

.idNbr-error-message{
  font-size: 14px;
  white-space: nowrap;
  position: relative;
  left: 12px;
  color: red;
  top: -6px;
}

.custName-error-message{
  font-size: 14px;
  position: relative;
  left: 6px;
  color: red;
  top: -6px;
  width: 209px;
}

.phoneNo-error-message{
  font-size: 14px;
  white-space: nowrap;
  position: relative;
  left: 6px;
  color: red;
  top: -6px;
}


.example-card {

  background-color: blue;
}

.card {
  background-color: #00b4d8;
  width: 80%;
  margin-top: 0px;
  height: 215px;
}

.profile-card {
  background-color: #00b4d8;
  height: 10.3cm;

}

.checkbox {
  margin: 0.1cm;

}


.red {
  color: rgb(18, 135, 231)
}

.btn {
  border-radius: 4cm;
  width: 30%;
}



.sorting {
  margin: 0.4cm;
  height: 2px;
}





.example-section {
  margin: 12px 0;
}


.RevExc {
  color: white;

}

.example-table {
  display: flex;
  flex-direction: column;
  width: 100%;
  
}


.icon {
  color: rgb(15, 132, 228);
}

mat-form-field {
  padding: 0.1cm;
}

.selected{
  background-color: #f2f6fc;
}

.customertype-font{
  width: 35px;
  height: 35px;
  border: 0px solid #0b0c0d;
  box-sizing: border-box;
  border-radius: 2cm;
  text-align: center;
  font-size: 18px;
  padding-top: 7px;
  font-weight: 600;
  color: rgb(0, 0, 0);
  margin: 10px;
}

.matcard {
  height: 120px;
  background-color: #fafafa;
  border-radius: inherit;

}

.p {
    font-family: 'Roboto';
    font-size: 16px;
    margin-left: 8px;
    margin-bottom: 16px;
}

.example-button-container {

  height: 41px;
}
.launch-icon {
  color: #000000;
}
.example-button-container button:disabled {
  background-color: transparent;
}



.filtericon {
  color: rgb(255, 255, 255);
}


.test{
  color: #123969;
}

.link{
  color: #123969;;
  font-size: 12px;
  font-family: 'Roboto';
  white-space: nowrap;
  line-height: 23px;
  margin-top: 6px;
  text-decoration: underline;
}
.icon{
  font-size: 20px;
    position: relative;
    top: 1px;
    /* left: -3px; */
    color: #ffffff;
}

.tags
{
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 6px;
  text-decoration: underline;
  border: 1px;
  cursor: pointer;
}

.status-tag
{
  line-height: 20px;
  padding: 5px 10px;
  margin: 3px 0;
  display: inline-block;
  font-family: 'Roboto';
  white-space: nowrap;
}

.small-container{
  border: 1px solid #e6e6e6;
  width: 10px;
  height: 10px;
  position: relative;
  top: 12px;
  left: 5px;
  border-radius: 5px;

}

.label {
  color: darkgray;
  font-size: 16px;
  margin: 5px;
  margin-left: -7px;
  margin-top: 22px;
  font-family: 'Roboto';
}


.Drop-down {
  width: 280px;
}


  .div-height{
   // margin: 10px;
    font-size: 13px;
  } 

  .date-filters-col{
   margin-top: -35px;
   margin-left: 10px;
   font-size: 13px;
  }

  .m-l{
  margin-left: -36px;
  }

  





.text-search-filters{
  font-family: 'Roboto';
    font-weight: 600;
    color: #1D62A2;
    font-size: 18px;
    position: relative;
    top: 19px;
    left: 15px;
}

.add-filter-icon{
  position: relative;
  top: -1px;
}

.formfield-icon{
  position: relative;
    top: 2px;
    font-size: 23px;
}

.row-items{
  margin-top: -20px;
}

.subGroups{
  font-family: 'Roboto';
  font-style: normal;
 
  font-size: 14px;
  white-space: nowrap;
 // padding-left: 16px;
 color: #8f8f8f;
 position: relative;
    top: 7px;
}
.payeeName{
  font-family: 'Roboto';
  font-style: normal;
  font-size: large;
 color: #000000;
 position: relative;
    top: 1px;
}


.show-results{
  margin-right: -14px;
  color: grey;
  font-size: 16px;
  font-family: 'Roboto';
}

.filter-title{
  
  color: #100f0f;
  font-family: 'Roboto';
  margin-bottom: -10px;
  margin-top: 20px;
  position: relative;
  left: 5px;
  font-size: 22px;

}


.tooltip-warning-icon{
  position: relative;
  top: 26px;
}

.delete-icon{
  color: #ce0000c2;
}


.flex-col{
  display: flex;
  flex-direction: column;
  
}

.disable-check-box{
  cursor: default;
  pointer-events: none;
  opacity: 0.5;
}

.warning-icon{
  color: #f97d0b;
  margin-right: 5px;
  position: relative;
  left: 2px;
  font-size: 25px;
  cursor: pointer;
}