<mat-card  appearance="outlined"  class="profile-card">
    <mat-card-content>
    <p style="text-align: center;color: white;font-weight: bold;height: 0.1cm;">PURNAMA INTELEK SDN</p>
   
     
    <div fxLayout="row" fxLayoutAlign="space-between">
      <div class="flex">
       <small class="key">Customer No</small>
       <small class="values"> {{object.txnId}} </small>
      </div>
      <div class="flex">
        <small class="key">Exchange Rate</small>
        <small class="values">3.1728</small>
       </div>
      </div>
  
  <div fxLayout="row" fxLayoutAlign="space-between">
    <div class="flex">
     <small class="key">Amount(SGD)</small>
     <small class="values">2000</small>
    </div>
    <div class="flex">
      <small class="key">Amount(MYR)</small>
      <small class="values">6180</small>
     </div>
    </div>
  
  
  
  <div fxLayout="row" fxLayoutAlign="space-between">
  <div class="flex">
   <small class="key">Payment Mode</small>
   <small class="values">887</small>
  </div>
  <div class="flex">
    <small class="key">Money Transfered to</small>
    <small class="values">DBO / UBC</small>
   </div>
  </div>
  
  
  <p style="text-align: center;color: white;font-weight: bold;height: 0.1cm;">Payee details</p>
  
  
  <div fxLayout="row" fxLayoutAlign="space-between">
    <div class="flex">
     <small class="key">Name</small>
     <small class="values"> Meera </small>
    </div>
    <div class="flex">
      <small class="key">Payee Country</small>
      <small class="values">Malaysia</small>
     </div>
    </div>
  
    <div fxLayout="row" fxLayoutAlign="space-between">
      <div class="flex">
       <small class="key">Account Number</small>
       <small class="values"> 10299222 </small>
      </div>
      <div class="flex">
        <small class="key">Payee Bank</small>
        <small class="values">CIMB</small>
       </div>
      </div>
  
      <div fxLayout="row" fxLayoutAlign="space-between">
        <div class="flex">
         <small class="key">Branch</small>
         <small class="values"> Penang </small>
        </div>
        <div class="flex">
          <small class="key">Bank Swift Code</small>
          <small class="values">CIMB718</small>
         </div>
        </div>
  
  </mat-card-content>
  </mat-card>
