.day-close-btn{
    background-color: #123969;
    color: white;
    height: 74px;
    width: 260px;
    font-size: 22px;
    font-family: 'Roboto';
    border-radius: 12px;
}

.div-day-close{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 87vh;
}