
.success-msg {
    height: 50px;
    color: #270;
    background-color: #DFF2BF;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", 'Roboto'; 
    font-weight: 300;
    margin: 10px 0;
    padding: 7px;
    border-radius: 3px 3px 3px 3px;
    position: relative;
    top: -10px;
  }
.icon-done{
    position: relative;
    top: 5px;
    left: 4px;
}

.text-message{
    margin: 5px;
}
