

<div fxLayout="row" fxLayoutAlign="space-between">

<h3 class="sign-in-label"> Sign In </h3>

<mat-icon class="close-icon" [mat-dialog-close]="true" >close</mat-icon>

</div>

<div class="margin-space">


<div fxLayout="row" fxLayoutGap="20px">
    <button mat-button class="mat-btn" type="button" (click)="navigateCustomerLogin('I')"  [mat-dialog-close]="true" >Individual
        <mat-icon>launch</mat-icon>
    </button>

    <button mat-button class="mat-btn" type="button" (click)="navigateCustomerLogin('C')"  [mat-dialog-close]="true" >Business
        <mat-icon>launch</mat-icon>
    </button>
</div>

</div>
