
<!--show toolbar only for MC => ADD TXN => Opencustomersearch => Open deal table-->
<div *ngIf="showModalDialogContent">
  <h4 mat-dialog-title>
    <mat-toolbar role="toolbar" class="task-header" fxLayoutAlign="space-between center">
        <span> View Deals </span>
        <span [mat-dialog-close]="true" style="cursor: pointer;">
          <mat-icon>close</mat-icon>
          </span>
    </mat-toolbar>
  </h4>
  </div>

  <div [ngClass]="{'scrollable-content': showModalDialogContent == true}">
    <!--Search filter Section-->
    <div [class.mat-elevation-z2]="!isActive" [class.mat-elevation-z8]="isActive" class="search-filter">
      <form [formGroup]="filterForm">
  
        <div fxLayout="row" fxLayoutAlign="space-between">
  
          <div class="inner-container">
  
  
            <!--Removed *ngIf="showAction" because we are going to show filter button in both Posted and UnPosted Transaction Screen in BackOffice-->
            <button mat-raised-button (click)='xpandStatus = !xpandStatus' class="applyFilter-btn">
              <mat-icon class="add-filter-icon">add</mat-icon>
              Filter
            </button>
  
  
            <!-- <mat-form-field style="width: 40%;
      font-size: 15px;
      margin: 8px;" appearance="{{'formFieldAppearance' | label}}">
              <mat-label class="custom-label">Search Customer Name</mat-label>
              <input matInput (input)="onCustomerNameChange()" formControlName="custName"
                [formControl]="filterForm.controls['custName']" class="form-control" type="text"
                [(ngModel)]="searchCustomerName">
              <mat-icon matPrefix class="formfield-icon">search</mat-icon>
            </mat-form-field> -->
  
            <!-- <mat-icon matTooltipPosition="above" matTooltipClass="custom-tooltip" class="tooltip-warning-icon"
              matTooltip="3 Characters Minimum">error_outline</mat-icon> -->
          </div>
  
          <!-- <div>
            <button mat-raised-button class="register-btn" (click)="navigateToAddDeal()"><mat-icon>launch</mat-icon> Add
              Deal </button>
          </div> -->
  
        </div>
  
  
  
        <mat-divider></mat-divider>
  
        <div class="custom-filter-values">
          <div *ngFor="let filterValues of filterValues" fxLayout="column" class="margin-space" fxLayoutGap="2px">
            <p class="filter-key"> {{filterValues.fieldName ? filterValues.fieldName : ""}} </p>
            <p class="filter-value"> {{filterValues.value ? filterValues.value : ""}} </p>
          </div>
  
  
        </div>
  
  
  
        <div fxLayout="column" fxLayoutGap="1px">
  
          <div fxLayout="row" fxLayoutGap="10px">
  
  
  
          </div>
          <mat-accordion #accordion="matAccordion">
            <mat-expansion-panel style="width: fit-content;background-color: #ffffff;z-index: 999;"
              #mapanel="matExpansionPanel" [(expanded)]="xpandStatus">
  
              <h4 class="filter-title"> Filters </h4>
              <!-- <mat-divider> </mat-divider> -->
              <div fxLayout="column" fxLayoutGap="2px">

              <div fxLayout="column" fxFlex="100">
             
                <mat-form-field  appearance="{{'formFieldAppearance' | label}}">
                  <mat-label class="custom-label">Customer Name</mat-label>
                  <input matInput
                    (input)="filterForm.controls.custName.setValue(filterForm.controls.custName.value.toUpperCase())"
                    formControlName="custName" [formControl]="filterForm.controls['custName']" class="form-control"
                    type="text" [(ngModel)]="searchCustomerName">
                  <mat-icon matPrefix class="formfield-icon">search</mat-icon>
                </mat-form-field>
              </div>
  
              <div fxLayout="row" fxLayoutAlign="space-between">
  
                <div fxLayout="column" fxFlex="48">
                 
                  <mat-form-field appearance="{{'formFieldAppearance' | label}}">
                    <mat-label class="custom-label">Ccy Code</mat-label>
                    <input matInput formControlName="ccyCode" [formControl]="filterForm.controls['ccyCode']">
                  </mat-form-field>
                </div>
  
  
                <div fxLayout="column" fxFlex="48">
                  
                  <mat-form-field appearance="{{'formFieldAppearance' | label}}">
                    <mat-label class="custom-label">TransType</mat-label>
                    <mat-select [formControl]="filterForm.controls['type']">
                      <mat-option *ngFor="let type of typeList" [value]="type.value"> {{type.description}} </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
  
  
  
              </div>
  
              <div fxLayout="row" fxLayoutAlign="space-between">
  
                <div fxLayout="column" fxFlex="100">
                  
                  <mat-form-field  appearance="{{'formFieldAppearance' | label}}">
                    <mat-label class="custom-label">Status</mat-label>
                    <mat-select [formControl]="filterForm.controls['status']" multiple>
                      <mat-option *ngFor="let status of statusList" [value]="status.value"> {{status.description}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
  
  
  
              </div>
  
              <div fxLayout="row" fxLayoutAlign="space-between">
  
                <div fxLayout="column" fxFlex="48">
                  
                
                    <mat-form-field appearance="{{'formFieldAppearance' | label}}" >
                      <mat-label class="custom-label">Start Date</mat-label>
                      <input matInput [matDatepicker]="picker" formControlName="startDate"
                        [formControl]="filterForm.controls['startDate']" (dateChange)="onStartDateChange($event)"
                        [min]="minStartDate">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                      <mat-hint align="end">(DD/MM/YYYY)</mat-hint>
                    </mat-form-field>
                  
                </div>
  
                <div fxLayout="column" fxFlex="48">
                  
                
                    <mat-form-field appearance="{{'formFieldAppearance' | label}}">
                      <mat-label class="custom-label">End Date</mat-label>
                      <input matInput formControlName="endDate" [formControl]="filterForm.controls['endDate']"
                        [matDatepicker]="picker2" (dateChange)="onEndDateChange($event)" [min]="minEndDate"
                        [max]="maxEndDate">
                      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                      <mat-datepicker #picker2></mat-datepicker>
                      <mat-hint align="end">(DD/MM/YYYY)</mat-hint>
                    </mat-form-field>
                  
                </div>
  
              </div>
  
              </div>
  
              <mat-action-row style="padding: 0px !important;">
                <div fxLayout="row" fxLayoutAlign="space-between" style="width: 100%;">
                  <div>
                    <button mat-flat-button class="close-button" (click)="xpandStatus = !xpandStatus"
                      type="button">Close</button>
                  </div>
                  <div>
                    <button mat-flat-button class="reset-button" (click)="resetFilter()" type="button">Reset</button>
                    <button mat-flat-button class="submit-button" [disabled]="!filterForm.valid" (click)="searchFilter()">
                      Apply Filter</button>
                  </div>
                </div>
              </mat-action-row>
  
            </mat-expansion-panel>
          </mat-accordion>
  
  
  
        </div>
  
      </form>
  
  
  
  
    </div>
  
  
    <div class="table-wrapper">
      <div class="mat-elevation-z8">
        <div [ngStyle]="changeTableHeight()">
          <table class="table">
  
            <thead>
              <tr>
                <th *ngIf="showModalDialogContent"><mat-icon>crop_square</mat-icon></th>
                <!-- added for selectinng multiple deal to cancel -->
                <th *ngIf="cancelDealCheckbox"><mat-icon>crop_square</mat-icon></th>
                <th>TYPE</th>
                <th>CUSTOMER</th>
                <th>CURRENCY</th>
                <th>F.AMOUNT</th>
                <th>RATE</th>
                <th>L.AMOUNT</th>
                <th>VALUE DATE</th>
                <th>REMARKS</th>
                <th>STATUS</th>
                <th *ngIf="showDealSearchContent">UTILIZED F.AMOUNT</th>
                <th>BALANCE F.AMOUNT</th>
                <th *ngIf="showDealSearchContent">LAST UPDATED BY & TIME</th>
                <th *ngIf="showDealSearchContent">ACTION</th>
                <th *ngIf="showModalDialogContent"> ACTION </th>
  
  
              </tr>
            </thead>
  
            <tbody>
              <tr *ngFor="let search of dealListings | slice: (p - 1) * itemsPerPage : p * itemsPerPage; index as i; ">
                <td *ngIf="showModalDialogContent">
                  <div class="checkbox"> <mat-checkbox [checked]="isToday(search.valueDate)" [disabled]="!isToday(search.valueDate)" (change)="selectedCheckBox($event,i,search.dealItemId)">
                    </mat-checkbox> </div>
                </td>
                 <!-- added for selectinng multiple deal to cancel -->
                <td *ngIf="cancelDealCheckbox">
                  <div class="checkbox"> <mat-checkbox 
                    (change)="onCheckBoxSelection(i,search.dealItemId,$event,search)"
                     [disabled]="! (search.status=='OPEN' || search.status=='PARTIAL') "
                     [checked]="isDealSelected(search.dealItemId)"></mat-checkbox> </div>
                </td>
                <td>
                  <div *ngIf="search.buySellInd == 'B'"> BUY </div>
                  <div *ngIf="search.buySellInd == 'S'"> SELL </div>
                </td>
                <td>
                  {{search.customerName}} 
                  <!-- <div>  -->
                    <!-- <div> </div> -->
                    <!-- <div class="sub-value"> {{search.customerId}} </div> -->
                  <!-- </div> -->
                </td>
                <td>
                  <div fxLayout="row">
                  <div> {{search.ccyCode}} </div>
                  <div class="currency-sub-value"> {{search.ccyNo}} </div>
                </div>
              </td>
                <td>{{search.amountF | number}}</td>
                <td>{{search.exchRate}}</td>
                <td>{{search.amountL | number}}</td>
                <td>{{search.valueDate | date : 'mediumDate'}}</td>
                <td style="color: red" >{{search.remarks}}</td>
                <td>
                  <div class="tags"
                    [ngStyle]="{'color': getColor(search.status),'background-color': getBackgroundColor(search.status)}">
                    <div [ngStyle]="{'background-color': getColor(search.status)}" class="small-container"></div>
                    <span class="status-tag">
                      {{search.status}} </span>
                  </div>
                </td>
                <td *ngIf="showDealSearchContent">{{search.utilizedAmountF | number}}</td>
                <td>{{search.balanceAmountF | number}}</td>
                <td *ngIf="showDealSearchContent">
                  <div>
                    <div> {{search.updatedBy ? search.updatedBy : search.createdBy }}</div>
                    <div class="sub-value"> {{search.updatedDate ? (search.updatedDate | date : 'medium') : (search.createdDate | date : 'medium') }} </div>
                    </div>
                </td>
                <td *ngIf="showDealSearchContent">
                  <div fxLayout="row">
                    <button mat-button class="edit-icon" #tooltip="matTooltip" matTooltip="Edit" matTooltipPosition="above"
                    matTooltipClass="accounts-custom-tooltip" [disabled]="!(search.status == 'OPEN')" (click)="openEditDealDialog(search.dealItemId,search.dealId,'')">
                    <mat-icon>create</mat-icon>
                  </button>

                  <button mat-button class="cancel-icon" #tooltip="matTooltip" matTooltip="Cancel" matTooltipPosition="above"
                    matTooltipClass="accounts-custom-tooltip" [disabled]="!(search.status == 'OPEN' || search.status == 'PARTIAL' )" (click)="openEditDealDialog(search.dealItemId,search.dealId,'cancel-deal')">
                    <mat-icon>cancel</mat-icon>
                  </button>

                  </div>
                </td>

            

                <td *ngIf="showModalDialogContent">
                  <button mat-button class="edit-icon" #tooltip="matTooltip" matTooltip="Edit" matTooltipPosition="above"
                    matTooltipClass="accounts-custom-tooltip" [mat-dialog-close]="true" [disabled]="!(search.status == 'OPEN')"
                    (click)="navigateEditDealDialog(search.dealItemId,search.dealId)">
                    <mat-icon>create</mat-icon>
                  </button>
                </td>
  
  
  
              </tr>
            </tbody>
  
          </table>
        </div>
      <!-- added for cancel multiple deal -->

        <div fxLayout="row" fxLayoutAlign="space-between" class="pagination-row">
          <button mat-raised-button class="cancel-button" 
          type="button"
          [disabled]="cancelDealArray.length == 0 ? true : null" 
          (click)="onMultipleDealsCancel()" >Cancel</button>
        <mat-paginator class="pagination-class" [length]="dealListings.length" [pageSize]="itemsPerPage"
          [pageIndex]="p - 1" (page)="handlePageChange($event)"></mat-paginator>
        </div>
      </div>
      <!--Loader-->
      <div *ngIf="loader" class="loader-wrapper">
        <mat-spinner> </mat-spinner>
      </div>
    </div>
  
    <div class="btn">
      <div class="mat-elevation-z8" style="justify-content: right;" *ngIf="showOKButton">
        <button mat-raised-button fxFlex="10" (click)="navigateParentScreen()" class="fetchCustomerButton">Ok</button>
      </div>
  
    </div>
  
  
  </div>