.label{
    font-family: 'Roboto';
    font-size: 16px;
    color: black;
    margin-left: -9px;
    
}
.title-label{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 18px;
    color: black;
}

.yes-button{
   width: 117px;
    font-size: 16px;
}

.no-button{
    
    font-size: 16px;
    
}