.message-block .error-message {
    display: none;
  }
  
  .message-block .error-message:first-child {
    display: block;
    color: #e8316f;
    margin-bottom: 5px;
    margin-top: -11px;
    margin-left: 6px;
    font-size: 14px;
    font-family: "Roboto";
    white-space: break-spaces;
  }
  
  .head-label-2 {
    font-size: 15px;
    margin-top: 5px;
    font-family: 'Roboto';
    font-weight: 600;
  }
  
  .head-label-1 {
    font-size: 18px;
    display: flex;
    font-family: 'Roboto';
    color: white;
  }
  
  .register-btn {
    margin-top: 7px;
    text-align: center;
    margin-bottom: 14px;
  }
  
  .formfield-section {
    width: 90%;
    margin-left: 20px;
    margin-top: 25px;
  }
  
 
  
  .header-container {
   background-color: #123969;
   padding: 18px;
   height: 50px;
  }
  
  .check-box {
    margin-top: 5px;
    font-size: 15px;
    color: black;
  }
  
  .close-icon{
    cursor: pointer;
    color: white;   
    position: relative;
    top: 3px;
  }

  .addCounterBtn{
    width: 129px;
    font-size: 16px;
  }