<!--CUSTOMER SEARCH-->


<div *ngIf="showMatToolbar">
  <h4 mat-dialog-title>
    <mat-toolbar role="toolbar" class="task-header" fxLayoutAlign="space-between center">
      <span> View Customer </span>
      <span [mat-dialog-close]="true" style="cursor: pointer;">
        <mat-icon>close</mat-icon>
      </span>
    </mat-toolbar>
  </h4>
</div>

<div [ngClass]="{'scrollable-content': showMatToolbar == true}">

<div>


  <div [class.mat-elevation-z2]="!isActive" [class.mat-elevation-z8]="isActive" class="search-filter">
    
    <form [formGroup]="searchNameForm" >

     
       
    <div class="inner-container">
  
      
          <!--Removed *ngIf="showAction" because we are going to show filter button in both Posted and UnPosted Transaction Screen in BackOffice-->
          <button mat-raised-button (click)='xpandStatus = !xpandStatus' class="applyFilter-btn">
            <mat-icon class="add-filter-icon">add</mat-icon>
            Filter
          </button>
  
      <mat-form-field *ngIf="showCustomerNameSearch" style="width: 40%; margin: 6px;" appearance="{{'formFieldAppearance' | label}}">
      <mat-label class="custom-label">Search Customer</mat-label>
        <input matInput 
        (input)="onCustomerNameChange('CUSTOMERNAME')"
          formControlName="customerName" [formControl]="searchNameForm.controls['customerName']" class="form-control"
          type="text" [(ngModel)]="searchName">
        <mat-icon matPrefix class="formfield-icon">search</mat-icon>
      </mat-form-field>

      <mat-form-field *ngIf="!showCustomerNameSearch" style="width: 30%;
      margin: 6px;" appearance="{{'formFieldAppearance' | label}}">
      <mat-label class="custom-label">Search Customer</mat-label>  <!--Can feed either customer name or code to filter-->
        <input matInput 
        (input)="onCustomerNameChange('ALIASNAME')"
          fformControlName="customerName" [formControl]="searchNameForm.controls['customerName']" class="form-control"
          type="text" [(ngModel)]="searchName">
        <mat-icon matPrefix class="formfield-icon">search</mat-icon>
      </mat-form-field>
  
      <mat-icon  matTooltipPosition="above"
      matTooltipClass="custom-tooltip" class="tooltip-warning-icon" matTooltip="3 Characters Minimum">error_outline</mat-icon> 
     
  </div>

 
   
  

  </form>
  
    <mat-divider></mat-divider>
  
    <div  class="custom-filter-values">
      <div *ngFor="let filterValues of filterValues" fxLayout="column" class="margin-space" fxLayoutGap="2px">
        <p class="filter-key"> {{filterValues.fieldName ? filterValues.fieldName : ""}} </p>
        <p class="filter-value"> {{filterValues.value ? filterValues.value : ""}} </p>
      </div>
  
     
    </div>
  
    
  
      <div fxLayout="column" fxLayoutGap="1px">
  
        <div class="div-height" fxLayout="row" fxLayoutGap="10px">
  
  
  
        </div>
        <mat-accordion #accordion="matAccordion">
          <mat-expansion-panel style="width: fit-content;background-color: #ffffff;z-index: 999;"
            #mapanel="matExpansionPanel" [(expanded)]="xpandStatus">
  
             <h4 class="filter-title"> Filters </h4>
          <!-- <mat-divider> </mat-divider> -->

          <form [formGroup]="filterForm" >
            
            <div fxLayout="column" fxLayoutGap="25px" style="margin-top: 33px;margin-bottom: 20px;">  
              <div fxLayout="row" class="row-items">
          <div fxLayout="column" fxFlex="50">  
            <mat-form-field   appearance="{{'formFieldAppearance' | label}}" >
              <mat-label class="custom-label"> Customer Name </mat-label>
              <input matInput formControlName="customerName" [formControl]="filterForm.controls['customerName']" 
              (input)="filterForm.controls.customerName.setValue(filterForm.controls.customerName.value.toUpperCase())"  type="text" [(ngModel)]="searchName" >
            </mat-form-field>
            
            <small class="error-message" *ngIf="filterForm.controls['customerName'].hasError('pattern')" > {{'alphabetsWithSpecificSplChars'| label}} </small>  
            <small class="error-message" *ngIf="filterForm.controls['customerName'].hasError('required') 
                    && filterForm.controls['customerName'].touched ">
                      Customer Name is required
                  </small>   
          </div>

            <div fxLayout="column" fxFlex="50"> 
              <mat-form-field appearance="{{'formFieldAppearance' | label}}" >
                <mat-label class="custom-label"> Risk Rating </mat-label>
                <mat-select  formControlName="riskRating" [(ngModel)]="selectedRiskRating">
                  <mat-option *ngFor="let options of getRiskRatingList" [value]="options.VALUE" [disabled]="optionDiabled"> {{options.DESC}} </mat-option>
                </mat-select> 
              </mat-form-field>  
              <small class="error-message" *ngIf="filterForm.controls['riskRating'].hasError('required') 
              && filterForm.controls['riskRating'].touched ">
                  Risk Rating Required
                    </small>   
            </div>

          </div>
          
        
          <div fxLayout="row" class="row-items">
           
              <div fxLayout="column" fxFlex="50">
              <mat-form-field   appearance="{{'formFieldAppearance' | label}}">
                <mat-label class="custom-label"> Email Id </mat-label>
                <input matInput formControlName="emailId" [formControl]="filterForm.controls['emailId']" [(ngModel)]="searchEmailId" >
                <mat-icon matPrefix class="formfield-icon">email</mat-icon>
              </mat-form-field>
              <small class="error-message" *ngIf="filterForm.controls['emailId'].hasError('required') 
              && filterForm.controls['emailId'].touched">
                Email is required
            </small>   
              <small class="error-message" *ngIf="filterForm.controls['emailId'].hasError('email')" > {{'validEmailId'|label}} </small>     
           
          </div>
           
          <div fxLayout="column" fxFlex="50">
              <mat-form-field appearance="{{'formFieldAppearance' | label}}" >
                <mat-label class="custom-label"> Account </mat-label>
                <mat-select  [formControl]="filterForm.controls['account']">
                  <mat-option [disabled]="optionDiabled" *ngFor="let options of accountDropdown" [value]="options.value"> {{ options.description }} </mat-option>
                </mat-select>  
              </mat-form-field>  
              <small class="error-message" *ngIf="filterForm.controls['account'].hasError('required') 
              && filterForm.controls['account'].touched ">
                Account is required
            </small>   
            </div>
              
  
  
            </div>
          
  
            <div fxLayout="row" class="row-items">
  
              
              <div fxLayout="column" fxFlex="50">  
                <mat-form-field appearance="{{'formFieldAppearance' | label}}">
                  <mat-label class="custom-label"> NRIC </mat-label>
                  <input matInput  formControlName="idNbr" [formControl]="filterForm.controls['idNbr']" (input)="filterForm.controls.idNbr.setValue(filterForm.controls.idNbr.value.toUpperCase())" maxlength="9"
                    placeholder="NRIC NO" [(ngModel)]="searchidNumber"  type="text">
                   <mat-icon matPrefix class="formfield-icon">note</mat-icon>
                  <mat-hint align="end">{{filterForm.controls['idNbr'].value?.length || 0}}/9</mat-hint> 
                </mat-form-field> 
                  <mat-error> 
                    <small class="idNbr-error-message" *ngIf="filterForm.controls['idNbr'].hasError('pattern')" > Enter Valid NRIC  </small>  
                    <small class="idNbr-error-message" *ngIf="filterForm.controls['idNbr'].hasError('required') 
                    && filterForm.controls['idNbr'].touched">
                      NRIC is required
                  </small>      
                        </mat-error>
                
                </div>
              

            
                <div fxLayout="column" fxFlex="50"> 
    <mat-form-field  appearance="{{'formFieldAppearance' | label}}">
      <mat-label class="custom-label"> Phone </mat-label>
      <input matInput  formControlName="phoneNo" [formControl]="filterForm.controls['phoneNo']" placeholder="Phone No" type="text" [(ngModel)]="searchNumber">
      <mat-icon matPrefix class="formfield-icon">phone</mat-icon>
    </mat-form-field>
    <small class="error-message" *ngIf="filterForm.controls['phoneNo'].hasError('pattern')" > Only Numbers </small>     
    <small class="error-message" *ngIf="filterForm.controls['phoneNo'].hasError('required') 
                    && filterForm.controls['phoneNo'].touched ">
                      Phone No is required
                  </small>      
 </div>
  
            </div>
  
            <div fxLayout="row" class="row-items">
  
  
             
              <div fxLayout="column" fxFlex="50"> 
                <mat-form-field appearance="{{'formFieldAppearance' | label}}" >
                  <mat-label class="custom-label"> Type </mat-label>
                  <mat-select  formControlName="type" [(ngModel)]="selectedType">
                    <!-- <mat-option [disabled]="optionDiabled" value=""> --Select-- </mat-option> -->
                    <mat-option [disabled]="optionDiabled" value="I"> Individual </mat-option>
                    <mat-option [disabled]="optionDiabled" value="C"> Business </mat-option>
                  </mat-select> 
                </mat-form-field>  
                <small class="error-message" *ngIf="filterForm.controls['type'].hasError('required') 
                && filterForm.controls['type'].touched ">
                    Type Required
              </small> 
              </div>
               

              <div fxLayout="column" fxFlex="50"> 
                <mat-form-field appearance="{{'formFieldAppearance' | label}}" >
                  <mat-label class="custom-label"> Status </mat-label>
                  <mat-select [(ngModel)]="selectedStatus"  formControlName="status">
                    <!-- <mat-option [disabled]="optionDiabled" value=""> --Select-- </mat-option> -->
                    <mat-option [disabled]="optionDiabled" value="1"> Active </mat-option>
                    <mat-option [disabled]="optionDiabled || isMoneyChangerReview" value="0"> InActive </mat-option>
                  </mat-select>  
                </mat-form-field> <small class="error-message" *ngIf="filterForm.controls['status'].hasError('required') 
                && filterForm.controls['status'].touched ">
                Status Required
            </small> 
            </div>
             
  
  
            </div>
  
            <div fxLayout="row" class="row-items">
  
              
              <div fxLayout="column" fxFlex="50"> 
               
                  <mat-form-field appearance="{{'formFieldAppearance' | label}}">
                    <mat-label class="custom-label"> Start Date </mat-label>
                    <input matInput [matDatepicker]="picker"  formControlName="startDate" [formControl]="filterForm.controls['startDate']" 
                    (dateChange)="onStartDateChange($event)"  [min]="minStartDate" >
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-hint align="end">(DD/MM/YYYY)</mat-hint>
                  </mat-form-field>
                  <small class="error-message" *ngIf="filterForm.controls['startDate'].hasError('required') 
                    && filterForm.controls['startDate'].touched ">
                      Start Date is required
                  </small>   
                </div>
             
  
              
                <div fxLayout="column" fxFlex="50"> 
                  <mat-form-field appearance="{{'formFieldAppearance' | label}}" >
                    <mat-label class="custom-label"> End Date </mat-label>
                    <input matInput formControlName="endDate" [formControl]="filterForm.controls['endDate']" 
                     [matDatepicker]="picker2" (dateChange)="onEndDateChange($event)"   [min]="minEndDate" [max]="maxEndDate" >
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                    <mat-hint align="end">(DD/MM/YYYY)</mat-hint>
                  </mat-form-field>
                  <small class="error-message" *ngIf="filterForm.controls['endDate'].hasError('required') 
                  && filterForm.controls['endDate'].touched ">
                    End Date is required
                </small>
                </div> 
                
              
  
            </div>
  
            </div>
  
            <mat-action-row style="padding: 0px !important;">
              <div fxLayout="row" fxLayoutAlign="space-between" style="width: 100%;height: 50px;">
                <div>
                  <button  mat-flat-button class="close-button" (click)="xpandStatus = !xpandStatus" type="button">Close</button>
                </div>
              <div fxLayout="row" style="align-items: center;justify-content: center;position: relative;
    top: 9px;">
                <button mat-flat-button class="reset-button" (click)="resetFilter()" type="button">Reset</button>

                <button 
                matTooltip="Download"
                matTooltipPosition="above"
                matTooltipClass="custom-tooltip"
                mat-flat-button class="download-button" 
                (click)="applyFilter(searchName,searchNumber,searchidNumber,selectedType,selectedStatus,'PDF',searchEmailId,selectedRiskRating)">
                  <mat-icon>save_alt</mat-icon>
                </button>
  
                <button mat-flat-button class="submit-button" [disabled]="!isAnyFieldValid"
                (click)="applyFilter(searchName,searchNumber,searchidNumber,selectedType,selectedStatus,'VIEW',searchEmailId,selectedRiskRating)">
                  Apply Filter</button>
              </div>
              </div>
            </mat-action-row>

            </form>
  
          </mat-expansion-panel>
        </mat-accordion>
  
  
  
      </div>
  
   
  
  
  
  
  </div>




</div>

<span fxLayout="row" style="margin-top: -24px;margin-left: -16px;">
  <p class="show-results">Showing</p> <p class="show-results" style="color: black;font-weight: 700;"> {{recordsCount ? recordsCount : 0}} </p> <p class="show-results">results</p> 
 </span>
 
<!--Table-->
<div class="table-wrapper" >
<div class="mat-elevation-z8">
  <div [style.height.px]="showMatToolbar ? modalTable() : changeTableHeight()"
      [style.overflow-y]="getOverFlow()"
  > 
  <table class="table" matSort (matSortChange)="sortData($event)">

    <thead>

     
        <th>TYPE</th>
        <th>CUSTOMER ID</th>
        <th>NAME</th>
        <th> NRIC</th> 
        <th *ngIf="showHeader">STATUS</th>
        <th>PHONE</th>
        <th>NATIONALITY</th>
        <th> LAST UPDATED BY & DATE </th>
        <th>APPLICATION FULFILLED BY & DATE</th>
        <th *ngIf="showHeader">PAYEE</th>
        <th *ngIf="showHeader">ACTIONS</th>
        <th *ngIf="showButton"></th>
 
      

    </thead>

    <tbody>
      <tr
        *ngFor="let activeCustomers of customerSearch | slice: (p - 1) * itemsPerPage : p * itemsPerPage  "
        (dblclick)="isMoneyChangerReview ? navigateBookDealScreen(activeCustomers.CUSTOMERID,activeCustomers.NAME,activeCustomers.PHONENBR,activeCustomers.ACCOUNTNBR,activeCustomers.CUSTOMERTYPE,activeCustomers.IDNBR,activeCustomers.NATIONALITY, activeCustomers.ALIASNAME) : null">

        <td  style="width:1%;">
          <mat-icon style=" color: rgb(3, 102, 160, 0.59); font-size: 30px;" *ngIf="activeCustomers.CUSTOMERTYPE == 'I'">person</mat-icon>
          <mat-icon style=" color: rgb(3, 102, 160, 0.59); font-size: 30px;" *ngIf="activeCustomers.CUSTOMERTYPE == 'C'">domain</mat-icon>
         </td>
        <td>{{activeCustomers.CUSTOMERID}}</td>
        <td style="color: #0176d3"> {{activeCustomers.NAME}} </td>
        <td>
          <div fxLayout="column" fxLayoutGap="8px">
          <span> {{activeCustomers.IDNBR}} </span>
          <div fxLayout="row">
        <span style="font-weight: 600;"> Valid till {{activeCustomers.VALIDITY | date:'mediumDate'}} </span>
        </div>
         </div>  
        </td>

        <td *ngIf="showHeader">
          <div (click)="openCustomerStatusRemarks(activeCustomers.CUSTOMERID)" class="tags" [ngStyle]="{'color': getColor(activeCustomers.STATUS),'background-color': getBackgroundColor(activeCustomers.STATUS)}">
            <div   [ngStyle]="{'background-color': getColor(activeCustomers.STATUS)}" class="small-container"></div>
          <span class="status-tag"   #tooltip="matTooltip"
          [matTooltip]="getTooltipText(activeCustomers.STATUS)"
          matTooltipPosition="above"
          matTooltipClass="custom-tooltip"> 
          {{activeCustomers.STATUS | uppercase}} </span>
          </div>
        </td>

        <td> {{activeCustomers.PHONENBR}} </td>
        <td> 
          <div> {{activeCustomers.NATIONALITY}} </div>
        </td>
        <td>
          <div>
            <div> {{activeCustomers.UPDATEDBY ? activeCustomers.UPDATEDBY : activeCustomers.CREATEDBY }}</div>
            <div class="sub-value"> {{activeCustomers.UPDATEDDATE ? (activeCustomers.UPDATEDDATE | date : 'medium') : (activeCustomers.CREATEDDATE | date : 'medium') }} </div>
            </div>
        </td>
        <td>
          <div>
            <div>
              {{activeCustomers.FULFILLEDBY ? activeCustomers.FULFILLEDBY : '' }}
            </div>
            <div class="sub-value">
              {{activeCustomers.FULFILLEDDATE ? (activeCustomers.FULFILLEDDATE | date : 'medium') : '' }}
            </div>
          </div>
        </td>
        <td fxLayoutGap="20px" *ngIf="showHeader">
          <button mat-icon-button type="button" (click)="viewPayeeDialog(activeCustomers.CUSTOMERID,activeCustomers.NAME)">
            <mat-icon style="color: #1265d2b8;;"> visibility </mat-icon>
          </button>
          <button mat-icon-button type="button"  [disabled]="activeCustomers.STATUS === 'InActive'" (click)="addPayeeDialog(activeCustomers.CUSTOMERID,activeCustomers.CUSTOMERTYPE)">
            <mat-icon>add</mat-icon>
          </button>
        </td>
        <td *ngIf="showHeader" >
          <div fxLayout="row" fxLayoutGap="20px">
         
          <button  
          #tooltip="matTooltip"
          matTooltip="Open Customer Details"
          matTooltipPosition="above"
          matTooltipClass="custom-tooltip"
          class="launch-icon" (click)="openDialog(activeCustomers.CUSTOMERID,activeCustomers.CUSTOMERTYPE)" mat-icon-button type="button"  aria-label="Example icon button with a menu icon">
            <mat-icon> zoom_out_map </mat-icon>
          </button>
        
          
            <button  
            #tooltip="matTooltip"
            matTooltip="Open Customer Accounts Details"
            matTooltipPosition="above"
            matTooltipClass="custom-tooltip"
            class="launch-icon" (click)="openCustomerAccounts(activeCustomers.NAME,activeCustomers.CUSTOMERTYPE,activeCustomers.CUSTOMERID)" mat-icon-button type="button"  aria-label="Example icon button with a menu icon">
              <mat-icon> list_alt </mat-icon>
            </button>

            <!--Bring another icon PDF ICON onClick -- perform this function openPdfBizProfile(customerType) -->
            <button  
            #tooltip="matTooltip"
            matTooltip="Biz Profile Report"
            matTooltipPosition="above"
            matTooltipClass="custom-tooltip"
            class="launch-icon" (click)="bizProfileReport(activeCustomers.CUSTOMERID,activeCustomers.CUSTOMERTYPE)" mat-icon-button type="button"  aria-label="Example icon button with a menu icon">
              <mat-icon> picture_as_pdf </mat-icon>
            </button>

            </div>
          
        </td>
        <td *ngIf="showButton">
            <mat-radio-button ngDefaultControl [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedRadio" (change)="radioSelected(activeCustomers.CUSTOMERID,activeCustomers.NAME,activeCustomers.PHONENBR,activeCustomers.ACCOUNTNBR,activeCustomers.CUSTOMERTYPE,activeCustomers.IDNBR,activeCustomers.NATIONALITY)" [value]="activeCustomers.CUSTOMERID"  ></mat-radio-button>
        </td>
      </tr>

    </tbody>

  </table>
</div>
<!--Pagination-->
<mat-paginator class="pagination-class"
[length]="customerSearch.length"
[pageSize]="itemsPerPage"
[pageIndex]="p - 1"
(page)="handlePageChange($event)"
></mat-paginator>
  </div>
  <!--Loader-->
  <div *ngIf="loader" class="loader-wrapper">
  <mat-spinner> </mat-spinner>
  </div>
  </div>

<div class="btn" >  
  <!--show this button in remittance backoffice send money screen-->
<div class="mat-elevation-z8" style="justify-content: right;" *ngIf="showOKButton" >
  <button mat-raised-button fxFlex="10" (click)="navigateParentScreen()" [disabled]="disableOkButton" class="fetchCustomerButton">Ok</button>
  </div>

  <!--show this button in MC backoffice Book deal screen-->
  <!-- <div class="mat-elevation-z8" style="justify-content: right;" *ngIf="showOKButtonForMC" >
    <button mat-raised-button fxFlex="10" (click)="navigateBookDealScreen()" [disabled]="disableOkButton" class="fetchCustomerButton">Ok</button>
    </div> -->

  </div>


</div>  

 


