.header-container {
    background-color: #123969;
    padding: 18px;
    height: 50px;
}

.close-icon{
    cursor: pointer;
    color: white;   
    position: relative;
    top: 3px;
}
  
.head-label-1 {
    font-size: 18px;
    display: flex;
    font-family: 'Roboto';
    color: white;
}

.editButton {
    color: black;
    border-radius: 8px;
  }

.label{
    font-size: 16px;
    font-family: 'Roboto';
    color: rgb(0, 0, 0);
    font-weight: bold;
  }
  
  .value{
      font-size: 16px;
      font-family: 'Roboto';
      color: rgb(0, 0, 0);
      font-weight: bold;
      margin-right: 30px;
  }

  .add-btn{
    font-family: 'Roboto';
    font-size: 16px;

}
form{
    margin: 12px;
}


.message-block .error-message{
    display: none;
  }
  .message-block .error-message:first-child{
    display: block;
    color: #ff0909;
    margin-top: -12px;
    margin-left: 1px;
    font-family: 'Roboto';
    font-size: 14px;
    white-space: break-spaces;
    position: relative;
    top: -1px;
  }

  .save-btn{
    position: relative;
    /* bottom: 71px; */
    font-size: 16px;
    background-color: #123969;
    color: white;
    height: 50px;
    width: 100px;
}