

                                            <!--NOT IN USE-->

<!-- <div fxLayout="row" style="margin-left: 13px;">
    <div fxLayout="column"> 
      <p class="p"> Customer Name</p> 
      <mat-form-field fxFlex="20" style="font-size: 13px;" appearance="outline">
        <input matInput type="text" placeholder="Customer Name">
      </mat-form-field>
    </div>
    
    <button mat-raised-button fxFlex="12" class="buttonApplyFilter">
      <mat-icon class="icon" matPrefix="Filter">filter_alt</mat-icon>
     Apply Filter</button>

  </div>

  <div class="table-wrapper">
    <div class="mat-elevation-z8">
      <div style="overflow-y: auto; height: 580px;">
      <table class="table">
    
        <thead>
            <th>Customer Id</th>
            <th>Customer Name</th>
            <th>Currency Code</th>
            <th>Exchange Rate</th>
            <th>Actions</th>
        </thead>
    
        <tbody>
          <tr>
            <td style="color: rgb(0, 119, 255);"> IC233333 </td>
            <td> TEST CORPORATE LTD. </td>
            <td> <span style="font-size: x-large;" class="flag-icon flag-icon-my"></span>  MYR </td>
            <td> 3.23 </td>
            <td>
                <div fxLayout="row">
                    <div class="example-button-container">
                      <button mat-icon-button type="button" class="icon_button" >
                        <mat-icon>create</mat-icon> 
                      </button>
                    </div>
                    <div class="example-button-container">
                      <button mat-icon-button type="button" class="icon_button" >
                        <mat-icon>delete</mat-icon> 
                      </button>
                    </div>
                  </div>    
            </td>
          </tr>
    
        </tbody>
    
      </table>
    </div>
     Pagination
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
      Loader
      <div *ngIf="loader" class="loader-wrapper">
      <mat-spinner> </mat-spinner>
      </div>
      </div>  
<div class="add-button-position">
      <button class="btnAdd" type="button" id="inc" value="0" (click)="addCurrencyCode()" mat-mini-fab aria-label="Example icon button with a plus icon" >
        <mat-icon> add </mat-icon>
      </button>
     
</div> -->