.blue{
    background-color: #123969;
    width: 3cm;
    color: white;
  }
  
  .green{
  background-color:#27AE60;
  width: 3cm;
  color: white;
  }
  
  .add-deal{
   justify-content: center;
   align-items: center;
   }
   .task-header {
font-size: 18px;
    background-color:#123969;
    color: white;
    height: 50px;
   
  }

  mat-error{
    font-size: 12px;
    padding-top: 11px;
  }
  