.show-message {
    margin: 50px;
    color: #27AE60;
}

.routerLink {
    text-align: right;
    margin-right: 32px;
    margin-top: -27px;
    color: blue;
    cursor: pointer;
    font-size: 20px;
}
.font-label{
    font-size: 20px;
    text-align: center;
    white-space: nowrap;
}