<div class="center-container">
    <div class="container-layout">
        <div class="sub-container">
<div class="center-element">
    <h4 class="header-1"> Delete your account ? </h4>
</div>

<div class="center-element">
    <h4 class="header-2"> If you want to delete your account , Please contact Arcade Plaza Traders Admin . </h4>
</div>


<div class="center-element">
    <div class="container">

        <div class="left-element">
            <span class="header-3"> Admin Hotline </span>
        </div>

        <mat-divider style="border-top-color: #8f8f8f;width: 94%;position: relative;left: 10px;"></mat-divider>

        <div fxLayout="row" fxLayoutAlign="space-around" style="margin-top: 34px;">

            <div>
                <mat-icon class="phone-icon"> phone</mat-icon>
            </div>

            <div fxLayout="column" fxLayoutGap="15px" style="position: relative;left: -50px;">
                <span class="tel-value">Tel: +65 62277660</span>
                <span class="values">Fax: +65 62209887</span>
            </div>
        </div>


    </div>
</div>


<div class="center-element" style="margin-top: 19px;">
    <div class="container">

        <div class="left-element">
            <span class="header-3"> Email us </span>
        </div>

        <mat-divider style="border-top-color: #8f8f8f;width: 94%;position: relative;left: 10px;"></mat-divider>

        <div fxLayout="row" fxLayoutAlign="space-around" style="margin-top: 34px;">

            <div>
                <mat-icon class="email-icon"> email</mat-icon>
            </div>

            <div fxLayout="column" fxLayoutGap="15px" style="position: relative;top: 18px;;">
                <span class="values"> remittance@aptonline.com.sg </span>
            </div>
        </div>


    </div>
</div>

</div>
</div>
</div>
