.header{
    margin: 0px;
    height: 83px;
    color: #8e8a8a;
    margin-left: 9px;
   
}

.welcome-text{
    font-size: 20px;
    color: #123969;
}

.row{
    justify-content: space-between;
    display: flex;
    margin: 20px;
}

.div-height {
    font-size: 13px;
    height: 125px;
    margin: 10px;
  }

p {
    margin: 0.6cm;
    height: 3px;
}
.height{
    line-height: 4px;
    margin-bottom: 22px;
}
  
.p {
    font-family: 'Roboto';
    font-size: 17px;
    margin-left: 2px;
    margin-bottom: 24px;
  
  }
.row{
    justify-content: space-between;
    display: flex;
    margin: 20px;
}

.label-text{
    color: black;
    font-weight: 800;
}

.example-card {
    border: 1px solid #DADADA;
    text-align: center;
    width: 80%;
   // height: 540px;
    margin-left:auto;
    margin-right:auto;  
    vertical-align:middle;
}
   
.card-header {
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 55px;
}
.mat-mdc-card .mat-mdc-card-header .mat-mdc-card-title{
    font-size: 30px;
}
.card-content{
    text-align: center;
    justify-content: center;
    align-items: center;
}
.button{
    border-radius: 25px;
    margin-left: 270px;
    width: 50%;
    height: 56px;
    font-size: 20px;
}


   
   .btnAdd{
   background-color: #123969;
   width: 70px;
   height: 70px;
   margin-right: 30px;
   }
.loader{
    margin-left: 270px;
}

/* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version.*/
::ng-deep.mat-tab-label.mat-tab-label:not(.mat-tab-disabled) {
    
    font-weight: 700;
    color: rgb(75, 75, 75);
    opacity: 1;
    font-size: initial;
  }

  .stepper-buttons{
    width: 8%;
    height: 39px;
    border-radius: 0.2cm;
    margin: 0.4cm;
    border: 1px solid #123969;
    background-color: white;
    cursor: pointer;
  }
  .stepper-button-area{
    line-height: 115px;
  }

  .reset-button{
    width: 25%;
    height: 39px;
    border-radius: 0.2cm;
    margin: 0.4cm;
}

.submit-button{
    width: 60px;
    height: 40px;
    border-radius: 0.2cm;
    margin: 1px;
    background-color: #123969;
    color: white;
    font-size: 17px;
}




    .example-h2 {
        margin: 10px;
      }
      
      .example-section {
        display: flex;
        align-content: center;
        align-items: center;
      }
      
      .example-margin {
        margin: 10px;
      }

      .icon{
        color: #123969;
        margin-top: -7px;
      }

      .error-message {
        font-size: 14px;
        white-space: nowrap;
        position: relative;
        left: 2px;
        color: red;
        top: -13px;
    }
    
    .flag-unavailable::after{
        content: "N/A";
        font-size: 18px;
        color: #6c6c6c;
        display: block;
    }

    .add-note-btn{
      height: 48px;
      background-color: #123969;
      color: white;
      position: relative;
      /* top: -5px; */
      /* right: 14px; */
      font-size: 16px;
      position: absolute;
      right: 0px;
      margin-right: 40px;
    }

    .search-filter-1{
padding-top: 10px;
      background-color: white;
      /* margin-left: 12px; */
      /* margin-right: 12px; */
      border-radius: 10px;
      height: 90px;
      display: flex;
      align-items: center;
      margin-bottom: 17px;
    }
  
    .buttonApplyfilter {
        background-color: #123969;
        color: white;
        height: 48px;
       // margin-top: 48px;
        width: 125px;
        margin-bottom: 10px;
        font-size: 16px;
    }

    .add-note-div{
        display: flex;
        align-items: center;
    }

    .footer-container{
        font-size: initial;
    font-family: 'Roboto';
    display: flex;
    justify-content: end;
    font-weight: 600;
    border-top: 1px solid #d5d5d5;
    height: 41px;
    }



  /* Custom scrollbar styles for the specific div */
  .customer-scrollbar::-webkit-scrollbar {
   // width: 8px;
    height: 8px;
  }
  
  .customer-scrollbar::-webkit-scrollbar-track {
    background: #d6d6d6;
    border-radius: 4px;
  }
  
  .customer-scrollbar::-webkit-scrollbar-thumb {
  
    background: #969696;
    border-radius: 4px;
  }
  
  .customer-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #434343;
  }
  .units-field {
    word-wrap: break-word;  /* Breaks long words if necessary */
    max-width: 100px;       
    min-width: 100px;  
  }
  .input-field {
    word-wrap: break-word;  /* Breaks long words if necessary */
    max-width: 100px;       
    min-width: 150px;  
    padding-bottom: 0px !important;
    padding-right: 7px !important;
  }
    .save-button{
      background-color: #123969;
    color: white;
    height: 36px;
    width: 100px;
    position: relative;
    right: 10px;
    top: 2px;
    font-size: 16px;
    border-radius: 5px;
    }


  

    .rate-table-td{
      text-align: left;
    padding: 2px 2px 2px 7px !important;
    font-family: "Roboto" !important;
    font-weight: 540;
    font-size: 16px;
    border: 0.1px solid #9c9c9c;
    }