<div  fxLayout="row" >
    <mat-card appearance="outlined" class="card">
        <mat-card-content>
            <div class="RevExc">Revise Exchange Rate</div>
    
    <div fxLayout="row" fxLayoutAlign="space-between">
        <div fxFlex="48"  style="font-size: 12px">
    <mat-form-field appearance="outline"> 
        <mat-label class="custom-label">EXCH RATE</mat-label>
        <input matInput>
    </mat-form-field>
    </div>
    
    <div fxFlex="48" style="font-size: 12px">
    <mat-form-field appearance="outline"> 
        <mat-label class="custom-label">Admin Charges</mat-label>
        <input matInput>
    </mat-form-field>
    </div>
    </div>
    
    <div fxLayout="row" fxLayoutAlign="space-between">
        <div fxFlex="40" style="font-size: 12px">
    <mat-form-field appearance="outline"> 
        <mat-label class="custom-label">Amount</mat-label>
        <input matInput>
    </mat-form-field>
    </div>
    
    <div fxFlex="56" style="font-size: 12px">
    <mat-form-field appearance="outline"> 
        <mat-label class="custom-label"> Reason for revised rate </mat-label>
        <mat-select>
            <mat-option value="**">**</mat-option>
            <mat-option value="**">**</mat-option>
        </mat-select>
    </mat-form-field>
    </div>
    </div>
    
    <div style="text-align: center;">
         <button class="btn" mat-raised-button color="primary"  type="button" >Save</button> 
      </div>
    
        </mat-card-content>
    
    </mat-card>
    </div>
