<h4 mat-dialog-title>
    <mat-toolbar role="toolbar" class="task-header" fxLayoutAlign="space-between center">
        <span> Write Notes </span>
        <span [mat-dialog-close]="true" style="cursor: pointer;">
          <mat-icon>close</mat-icon>
          </span>
    </mat-toolbar>
  </h4>

<form [formGroup]="form">
    
<alert></alert> <!--Alert message-->


<mat-form-field appearance="{{'formFieldAppearance' | label}}" style="font-size: 18px;">
    <mat-label class="custom-label">Note</mat-label>
    <input matInput [formControl]="form.controls['note']" />
  </mat-form-field>

  <div class="btn-div">
  <button class="save-btn" mat-button type="button" (click)="onSave()" >Save</button>
  </div>

  </form>

