@import  "src/assets/styles/buttons/button.scss";
.big-contain{
    width: 707px;
    height: 352px
  }
  .bodycontent1{
    width: 715px;
    height: 177px;
    background: #072A53;
    margin-left: -3px;
    margin-top: -45px;
  }
  .bodycontent2{
    background: #3B5472;
    height: 64px;
    width: 715px;
    margin-left: -3px
  }
  .label-1{
   color: darkgray;
   font-family: 'Roboto';
   font-size: 15px;
   position: relative;
    top: 5px;
  }
  .label-2{
    color: antiquewhite;
    font-size: 30px;
    position: relative;
    top: -16px;
    font-family: 'Roboto';
  }
  .l-cont1{
    color: antiquewhite;
    font-size: medium;
    font-family: 'Roboto';
    margin-top: 17px
  }
  .l-cont2{
    color: antiquewhite;
    font-size: medium;
    font-family: 'Roboto';
    margin-top: 17px; 
  }
  .btn1{
    margin-left: 207px;
    top: 284px;
    font-family: unset;
    font-size: 20px;
    font-weight: 900; 
  }
  .timer{
    background-color: black;
    width: 77px;
    height: 35px;
    border-radius: 5px;
    margin-top: 10px;
    color: #27AE60;
  }
  .arrow-icon{
    margin-top: 14px;
    margin-left: 4px;
    /* font-size: 23px; */
    margin-right: 22px;
}
.icon1{
 color: #95E0B5;
 font-size: 45px;
}
.icon2{
    color: #95E0B5;
 margin-left: -15px;
 font-size: 45px;
}
.icon3{
    margin-left: -15px;
 font-size: 45px;
    color: #27AE60;
}
.icon4{
    margin-left: -15px;
 font-size: 45px;
    color: #27AE60; 
}
.text-label{
    color: white;
    font-weight: 700;
    font-family: 'Roboto';
}

.text-label-2{
    color: white;
    font-weight: 700;
    font-family: 'Roboto';
}

.timer-small-container{
        width: 100px;
        background-color: black;
        color: green;
        border-radius: 10px;
        height: 41px;
        margin: 12px;
        display: flex;
}

 
  .rectangular-btn{
   top: 284px;
   margin-left: 50px;
   font-size: larger;
   border-radius: 10px;
   color: white;
   padding: 12px 43px;
  }
  
  