.task-header {
font-size: 18px;
    background-color:#123969;
    color: white;
   
}

.countryCode{
    max-width: 30%;
}

button{
    border-radius: 1cm;
}
.mat-mdc-button{
    width: 30%;
    border-radius: 1cm;
    color: white;
    background-color: #123969;
}

.dialogButton{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 60px;
    
}
.submit-button{
    background-color: rgb(10, 182, 10);
    width: 30%;
    color: white;
}