            
<div class="login-register">
    <div class="login-register-box">
      <mat-card appearance="outlined" class="card">
  
        <div class="logo">
          <img [src]="logo" >
          </div>
  
        <mat-card-content>
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="text-center">
              <h2 style="line-height: 0px;">Sign In</h2>
              <h6 class="sign-in">Sign in to continue </h6>
            </div>
            <alert></alert>
  
            <div fxLayout="row wrap">
              <!-- Email Address-->
              <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                <mat-form-field class="form-field" appearance="{{'formFieldAppearance' | label}}">
                  <mat-label class="custom-label">Email Address / Phone Number</mat-label>
                  <input matInput placeholder="Email Address / Phone Number" formControlName="uname"
                    [formControl]="form.controls['uname']" />
                </mat-form-field>
                <small *ngIf="form.controls['uname'].hasError('invalidEmailOrPhoneNumber')" class="text-danger support-text"> {{'validEmailIdPhoneNumber'|label}} </small>
                <small *ngIf="form.controls['uname'].hasError('required') && form.controls['uname'].touched" class="text-danger support-text"> {{'emailIdRequired'|label}} </small>
              </div>
              <!-- Password-->
              <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                <mat-form-field class="form-field" appearance="{{'formFieldAppearance' | label}}">
                  <mat-label class="custom-label">Password</mat-label>
                  <input matInput [type]="hide ? 'password' : 'text'" [placeholder]="'password'|label" formControlName="password"
                      [formControl]="form.controls['password']" />
                      <button mat-icon-button matSuffix (click)="hide = !hide" type="button">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </button>
                </mat-form-field>
                <small *ngIf="form.controls['password'].hasError('required') &&
                    form.controls['password'].touched" class="text-danger support-text"> {{'passwordRequired'|label}} </small>
              </div>

              <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                <mat-form-field class="form-field" appearance="{{'formFieldAppearance' | label}}">
                  <input matInput  readonly="true" value="BUSINESS" />
                </mat-form-field>
              </div>
  
              <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" class="text-right">
                <a class="alink" (click)="forgotPassword()">Forgot Password?</a>
              </div>
        
              <!-- col full-->
              <div *ngIf="signIn" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" class="signIn">
                <button mat-raised-button color="primary" class="btn-block btn-lg m-t-20 m-b-20" type="submit"
                  [disabled]="!form.valid">
                 Sign In
                </button>
              </div>
              <mat-spinner style="margin:0 auto;" diameter="40" *ngIf="loader"></mat-spinner>
              <!-- col full-->
              <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" class="text-center">
                <span class="account">Don't have an account?
                  <a [routerLink]="['/authentication/register']" class="text-info">- Sign Up</a>
                </span>
              </div>
            </div>
  
          
          </form>
        </mat-card-content>
      </mat-card>
      
    </div>
  </div>
