.card{
    background-color: white;
    
}

.login-register{
    background-color: rgba(196, 196, 196, 0.24);
}

.sign-in{
    color: gray;
}
.alink{
    font-size: 13px;
    color: rgb(106, 114, 114);
    cursor: pointer;
}
.text-right{
    padding-bottom: 1cm;
}

.text-info{
    font-size: 13px;
    color: gray;
}

.account{
    font-size: 13px;
    color: gray;
}

.logo{
text-align: center;
}

img{
    height: 70px;
    position: relative;
    top: 20px;
}

mat-form-field{
    height: 70px;
}

small{
    padding-top: 10px;
    padding-left: 5px;
}

alert{
    position: relative;
    top: -11px;
}