<div fxLayout="row wrap">
    <!-- Card column -->
    <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
        <app-customer-messages>
        </app-customer-messages>
    </div>
</div>

<div fxLayout="row wrap">
    <!-- Card column -->
    <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
      <!--  <app-customer-quick></app-customer-quick> -->
    </div>
</div>


<div fxLayout="row wrap">
    <!-- Card column -->
    <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
        <app-customer-activity></app-customer-activity>
    </div>
</div>