.label{
    font-family: 'Roboto';
    font-size: 19px;
    color: black;
    margin-left: -9px;
    
}
.title-label{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 20px;
    color: black;
}

.yes-button{
    width: 84px;
    font-size: 20px;
}

.no-button{
    width: 84px;
    font-size: 20px;
    margin-right: 11px;
}