.green{
    background-color: #27AE60;
    width: 3cm;
    border-radius: 1cm;
    color: white;
  }
  
  .blue{
  background-color: #123969;
  width: 3cm;
  border-radius: 1cm;
  color: white;
  }
  
  .deactivate{
    margin: 20px;
   }

   .task-header {
font-size: 18px;
    background-color:#123969;
   color: white;
  
  }
  .fx-spacer {
    flex: 1 1 auto;
  }

  p{
    padding-left: 0.5cm;
  }

  
  