.align-close-icon{
    text-align: right;
    margin-right: 5px;
    margin-top: 5px;
}

.p {
    font-family: 'Roboto';
    font-size: 16px;
    color: #4e4e4e;
    font-weight: 500;
    margin-left: 8px;
    margin-bottom: 4px;
    margin-top: 36px;
  
}

.text{
    position: relative;
    top: 2px;
    color: black;
    font-size: 21px;
    font-weight: 800;
}

.task-header {
font-size: 18px;
    background-color: #474747;
    color: white;
    width: 105%;
    margin: -24px;
   
}

.yes-button{
    width: 130px;
    font-size: 20px;
    background-color: #38a6a3;
}

.no-button{
    width: 84px;
    font-size: 20px;
    margin-right: 11px;
}