

<div *ngIf="showMatToolBar">
    <h4 mat-dialog-title>
      <mat-toolbar role="toolbar" class="task-header" fxLayoutAlign="space-between center">
          <span> View Deal Details </span>
          <span [mat-dialog-close]="true" style="cursor: pointer;">
            <mat-icon>close</mat-icon>
            </span>
      </mat-toolbar>
    </h4>
    </div>


    <mat-drawer-container class="example-container" hasBackdrop="false">
      <mat-drawer style="width: 30%;" #drawer position="end" mode="side">
        <!--Currency stock inventory component's selector tag-->
      <app-currency-stock (closeDrawerEvent)="closeDrawer()" > </app-currency-stock>
      </mat-drawer>
      <mat-drawer-content>
<div fxLayout="row" fxLayoutAlign="space-between" >

    <!-- <div fxLayout="row"  style="position: relative;top: 11px;">
         <button mat-button (click)="goToViewDeals()"
        #tooltip="matTooltip"
        matTooltip="Go Back to Deal Search"
        matTooltipPosition="above"
        matTooltipClass="accounts-custom-tooltip">
            <mat-icon class="back-arrow-icon">arrow_back</mat-icon>
        </button>
       
    </div> -->

    <mat-card appearance="outlined" [ngStyle]="responsiveCard()">
      <!-- <div *ngIf="loader" class="loader-wrapper">
        <mat-spinner> </mat-spinner>
        </div> -->
      <mat-card-content>
      <!-- <div fxLayout="row">
      
        <div> 
          <p class="customer-card-header">Search Customer</p>
        </div>
    
        </div> -->
    
    
      <div [ngStyle]="contentScrollable()">
<form [formGroup]="customerForm">
<div fxLayout="row">

 

  <div fxLayout="row" fxLayoutGap="5px" >

    <mat-hint class="function-hint"> <mat-icon style="position: relative;
      top: -10px;
      font-size: 17px;"
      #tooltip="matTooltip" 
      matTooltip="F1 for search customer"
      matTooltipPosition="above"
      matTooltipClass="accounts-custom-tooltip">error_outline</mat-icon></mat-hint>

    <mat-form-field appearance="{{'formFieldAppearance' | label}}" style="width: 220px;">
      <mat-label class="custom-label" >Customer Name / Code</mat-label>
      <input matInput formControlName="customerNameControl" [formControl]="customerForm.controls['customerNameControl']" [matAutocomplete]="auto"
       (keyup.enter)="onEnterKey($event, '',customerForm.get('customerNameControl')?.value || '','')" >
       <mat-error *ngIf="customerForm.controls['customerNameControl'].hasError('minlength')">
        Enter atleast 3 characters.
      </mat-error>
  
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="onOptionSelectedCustomer($event)">
          <mat-option *ngFor="let option of filteredOptions | async"  [value]="option">{{option.NAME}} : {{option.CUSTOMERID}} : {{option.ALIASNAME}}</mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <!-- <mat-form-field  appearance="{{'formFieldAppearance' | label}}" >
        <mat-label class="custom-label">Customer Name</mat-label> 
        <input matInput [readonly]="true" [(ngModel)]="customerName">
        <mat-hint class="function-hint">(F1 for search customer)</mat-hint>
    </mat-form-field> -->
    <div>
        <button [disabled]="isDisableButtons" mat-flat-button class="fetchCustomerButton" *ngIf="launchButton"
            (click)="openCustomerSearch()" type="button">
            <mat-icon>zoom_out_map</mat-icon> 
        </button>
        <mat-spinner style="position: relative;top: 15px;left: 6px;" diameter="40" *ngIf="openCustomerSearchloader"></mat-spinner>
    </div>

    </div>

  <div fxLayout="row" class="custname-row">

    <mat-form-field appearance="{{'formFieldAppearance' | label}}" style="position: relative;left: 6px;font-size: 9px !important;width: 220px;">
      <mat-label class="custom-label" >Dealer</mat-label>
      <mat-select  [(value)]="selectedDealerAssociateId" #dealerNameInputRef (selectionChange)="selectDealerId(selectedDealerAssociateId)" (keyup.enter)="onEnterKey($event, 'enterAssociateDropdown','','')">
        <mat-option *ngFor="let option of combinedAssociatesArray" [value]="option.associateId"> {{option.name}}-{{option.jobTitle}}</mat-option>
      </mat-select>
    </mat-form-field>

    <!--having function already in ts file-->
    <!-- <div class="flex" *ngIf="showIndContent">
      <small class="key">Nric : </small>
      <small class="values"> {{customerNricNo}} </small>
     </div> -->

     <!-- <div class="flex" *ngIf="showCorpContent">
      <small class="key">Nric : </small>
      <small class="values"> Owner :- {{ownerNricNo}} </small>
      <small class="values"> Runner :- {{runnerNricNo}} </small>
      <small class="values"> Dealer :- {{dealerNricNo}} </small>
     </div> -->

     <!-- <div class="flex">
      <small class="key">Customer Id : </small>
      <small class="values"> {{customerId}} </small>
     </div> -->

     <!-- <div class="flex" *ngIf="showIndContent">
      <small class="key">Nationality </small>
      <small class="values"> {{customerNationality}} </small>
     </div> -->

     <!-- <div class="flex">
      <small class="key">Customer Type </small>
      <small class="values"> {{ customerType == 'I' ? 'Individual' : customerType == 'C' ? 'Business/Corporate' : '' }} </small>
     </div> -->

     <!-- <div class="flex">
      <small class="key">Contact No </small>
      <small class="values"> {{customerPhnNo}} </small>
     </div> -->
    
    </div>
</div>
<div class="flex">
  <!-- <small class="key">Customer Name  </small> -->
  <small class="customer-name-value"> {{customerName}} </small>
 </div>
</form>
        

     
    
    
    </div>
   

    </mat-card-content>
    </mat-card>

    <div fxLayout="row" fxLayoutGap="15px" style="position: relative;right: 14px;">

        <div fxLayout="row" fxLayoutGap="8px" style="align-items: baseline;">
          
            <!-- <button mat-button (click)="openCurrencyStock()">
                <mat-icon> attach_money</mat-icon>
            </button> -->
              <!--Hide dollar icon because -> Planned to open Stock inventory in a modal dialog to avoid more API request hit because user opens multiple window for Add Txn/ Add deal.-->
            <!-- <button #tooltip="matTooltip"
            matTooltip="Open Currency Stock Inventory"
            matTooltipPosition="above"
            matTooltipClass="accounts-custom-tooltip"
             mat-button (click)="onDrawerToggle()">
              <mat-icon> attach_money</mat-icon>
          </button> -->
            
        </div>

        <div class="btn-div">
            <button class="btn-save" mat-raised-button color="primary" [disabled]="isDisableSaveDeal()" (click)="onSaveDeal()" type="button"> 
              <mat-icon>save</mat-icon>  (F4)
                <!-- <mat-icon>keyboard_arrow_right</mat-icon> -->
            </button>
        </div>
    </div>

</div>


<!--This div covers entire table , card and panel-->
<div style="margin-top: -22px;">

<div>      
       
      

<div class="table-wrapper" >
    <div class="mat-elevation-z8" >
      <div [ngStyle]="isOpenedInWindow ? ChangeTableHeightInWindow() :changeTableHeight()">
        <table  class= "table" >
         
          <thead>
            <tr>
            
                  <!-- <th *ngIf="showMatToolBar">DEAL ID</th>  -->
                  <th class="txn-item-th">Type</th>
                  <th class="txn-item-th">Ccy No</th>
                  <th style="display: none;">Ccy Code</th>
                  <th class="txn-item-th">Ccy Name</th>
                  <th class="txn-item-th">F.Amount</th>
                  <th class="txn-item-th">Rate</th>
                  <th class="txn-item-th">L.Amount</th>
                   <th class="txn-item-th">Value Date</th> 
                   <th class="txn-item-th">Remarks</th>  
                   <th *ngIf="showMatToolBar" class="txn-item-th">Utilized F.Amount</th>
                  <th *ngIf="showMatToolBar" class="txn-item-th">Balance F.Amount</th>
                  <!-- <th *ngIf="showMatToolBar">TRANSACTION DATE & TIME</th> -->
                  <th class="txn-item-th"> Actions</th>
                  </tr>
          </thead>
         
          <tbody>
            <tr *ngFor="let search of dealListings | slice: (p - 1) * itemsPerPage : p * itemsPerPage ;index as i;"
            [ngClass]="{'bg-sell': search.buySellInd === 'S','bg-buy': search.buySellInd === 'B'}">
                  <!-- <td *ngIf="showMatToolBar">{{search.dealItemId}}</td>  -->
                  <td *ngIf="!search.editMode" class="txn-item-td">{{search.buySellInd}}</td>
                  <td *ngIf="!search.editMode" class="txn-item-td">{{search.ccyNo}}</td>
                  <td *ngIf="!search.editMode" style="display: none;">{{search.ccyCode}}</td>
                  <td *ngIf="!search.editMode" class="txn-item-td">{{search.ccyName}}</td>
                  <td *ngIf="!search.editMode" class="txn-item-td">{{search.amountF | number}}</td>
                  <td *ngIf="!search.editMode" class="txn-item-td">{{search.exchRate}}</td>
                  <td *ngIf="!search.editMode" class="txn-item-td">{{search.amountL | number}}</td>
                   <td *ngIf="!search.editMode" class="txn-item-td">{{search.valueDate | date : 'mediumDate'}}</td> 
                   <td *ngIf="!search.editMode" class="txn-item-td" style="color: red;">{{search.remarks}}</td> 
                   <td *ngIf="showMatToolBar" class="txn-item-td">{{search.utilizedAmountF | number}}</td>
                  <td *ngIf="showMatToolBar" class="txn-item-td">{{search.balanceAmountF | number}}</td> 
                  <td *ngIf="search.editMode" class="txn-item-td"> 
                    <mat-form-field appearance="{{'formFieldAppearance' | label}}" style="width: 107px;position: relative;
                    top: 10px;">
                      <mat-label class="custom-label">Type</mat-label>
                      <input matInput #buySellIndInput (input)="buySellIndInput.value = buySellIndInput.value.toUpperCase()" [(ngModel)]="search.buySellInd">
                    </mat-form-field>
                  </td>
                  <td *ngIf="search.editMode" class="txn-item-td"> 
                    <mat-form-field appearance="{{'formFieldAppearance' | label}}" style="width: 107px;position: relative;
                    top: 10px;">
                      <mat-label class="custom-label">Currency Number</mat-label>
                      <!-- added max length validation -->
                      <input matInput #currencyNoInput pattern="^[a-zA-Z0-9]+$" maxlength="4" (input)="onCurrencyNumberChange(currencyNoInput.value,'templateRef',i)" [(ngModel)]="search.ccyNo">
                    </mat-form-field>
                  </td>
                  <td *ngIf="search.editMode" style="display: none;"> 
                    <mat-form-field appearance="{{'formFieldAppearance' | label}}" style="width: 107px;position: relative;
                    top: 10px;">
                      <mat-label class="custom-label">Currency Code</mat-label>
                      <input matInput [readonly]="isReadOnly" [(ngModel)]="search.ccyCode">
                    </mat-form-field>
                  </td>
                  <td *ngIf="search.editMode" class="txn-item-td"> 
                    <mat-form-field appearance="{{'formFieldAppearance' | label}}" style="width: 107px;position: relative;
                    top: 10px;">
                      <mat-label class="custom-label">Currency Name</mat-label>
                      <input matInput [readonly]="isReadOnly" [(ngModel)]="search.ccyName">
                    </mat-form-field>
                  </td>
                  <td *ngIf="search.editMode" class="txn-item-td"> 
                    <mat-form-field appearance="{{'formFieldAppearance' | label}}" style="width: 107px;position: relative;
                    top: 10px;">
                      <mat-label class="custom-label">F.Amount</mat-label>
                      <input matInput #fAmountInput (input)="onFAmountChange(fAmountInput.value,'templateRef',i,'fAmountChanged')" appCommaSeparatedInput [(ngModel)]="search.amountF">
                    </mat-form-field>
                  </td>
                  <td *ngIf="search.editMode" class="txn-item-td"> 
                    <mat-form-field appearance="{{'formFieldAppearance' | label}}" style="width: 107px;position: relative;
                    top: 10px;">
                      <mat-label class="custom-label">Exch Rate</mat-label>
                      <input matInput #rateInput appendZero (input)="onFAmountChange(rateInput.value,'templateRef',i,'rateChanged')" [(ngModel)]="search.exchRate">
                    </mat-form-field>
                  </td>
                  <td *ngIf="search.editMode" class="txn-item-td"> 
                    <mat-form-field appearance="{{'formFieldAppearance' | label}}" style="width: 107px;position: relative;
                    top: 10px;">
                      <mat-label class="custom-label">L.Amount</mat-label>
                      <input matInput [readonly]="isReadOnly" [(ngModel)]="search.amountL">
                    </mat-form-field>
                  </td>
                  <td *ngIf="search.editMode" class="txn-item-td"> 
                    <mat-form-field appearance="{{'formFieldAppearance' | label}}" style="width: 180px;position: relative;
                    top: 10px;">
                      <mat-label class="custom-label">Value Date</mat-label>
                      <input matInput (click)="datepick.open()" [matDatepicker]="datepick" [(ngModel)]="search.valueDate">
                      <mat-datepicker-toggle matSuffix [for]="datepick" ></mat-datepicker-toggle>
                      <mat-datepicker #datepick>
                        <mat-datepicker-actions>
                          <button mat-button matDatepickerCancel>Cancel</button>
                          <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                        </mat-datepicker-actions>
                      </mat-datepicker>
                    </mat-form-field>
                  </td>
                  <td *ngIf="search.editMode" class="txn-item-td"> 
                    <mat-form-field appearance="{{'formFieldAppearance' | label}}" style="width: 165px;position: relative;
                    top: 10px;">
                      <mat-label class="custom-label">Remarks</mat-label>
                      <input matInput [(ngModel)]="search.remarks">
                    </mat-form-field>
                  </td>
                  <td class="txn-item-td"> 
                    <button mat-button class="delete-icon" 
                    #tooltip="matTooltip"
                    matTooltip="Remove"
                    matTooltipPosition="above"
                    matTooltipClass="accounts-custom-tooltip"
                    [disabled]="isDisableRemoveIcon" (click)="removeRecord(i)" >
                    <mat-icon>delete_outline</mat-icon> 
                  </button>    

                  <button mat-button class="edit-icon" 
                  #tooltip="matTooltip"
                  matTooltip="Edit"
                  matTooltipPosition="above"
                  matTooltipClass="accounts-custom-tooltip"
                  *ngIf="!search.editMode" (click)="onEditAccessDeal(i)" [disabled]="isDisableRemoveIcon"  >
                    <mat-icon>create</mat-icon> 
                  </button>   
                  
                  <button mat-button class="save-icon" 
                  #tooltip="matTooltip"
                  matTooltip="Save Changes"
                  matTooltipPosition="above"
                  matTooltipClass="accounts-custom-tooltip"
                  *ngIf="search.editMode" (click)="onSaveDealItems(i,search)"  >
                    <mat-icon>save</mat-icon> 
                  </button>  

                </td>  
            </tr>
          </tbody>
         
      </table>
      </div>
     
    </div> 
    <!--Loader-->
    <div *ngIf="dealTableLoader" class="loader-wrapper">
      <mat-spinner> </mat-spinner>
      </div>
     </div>


 </div>    

 
 
<div fxLayout="row" fxLayoutGap="5px" *ngIf="showWholesaleCounterDatas">
     <div>
        <button [disabled]="true" mat-button  class="expansion-button">
            <mat-icon class="xpand-icon">{{ xpandStatus ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</mat-icon>
        </button>
    </div> 
    
        <div  [ngStyle]="responsiveAverageCostContainer()" style="margin-right: 10px;margin-left: 10px;">
             <div fxLayout="row" class="panel-row" >
                <div class="flex-row">
                 <small class="key">Average Cost : </small>
                 <small class="values"> {{avgCost}} </small>
                </div>
      
                <div class="flex-row">
                  <small class="key">Actual Stock : </small>
                  <small class="values"> {{stockValue}} </small>
                 </div>

                 
                   </div> 

        </div> 
    
</div>

    <!-- style="width: fit-content;background-color: #ffffff;z-index: 999;" -->
    <mat-card appearance="outlined" class="card-panel">

 <form [formGroup]="dealForm">     
     <div  fxLayout="row wrap" fxLayoutGap="25px" style="position: relative;top: 10px;left: 10px;"> 
    <div fxFlex="10" fxFlex.xs="100" >   
      <mat-form-field  appearance="{{'formFieldAppearance' | label}}" style="font-size: 16px;" >
        <mat-label class="custom-label" >Type</mat-label>
        <input matInput #typeInputRef (keyup)="onSpecialCharacterKey($event,currencyNoInputRef)"(keyup.arrowleft)="onLeftNavigation($event,typeInputRef,'')" (keyup.enter)="onEnterKey($event, currencyNoInputRef,'','currencyNo')"  (input)="onInputChange(currencyNoInputRef)" formControlName="type" [formControl]="dealForm.controls['type']" maxlength="1" [ngStyle]="{ color: inputColor }">
    </mat-form-field>
    <div class="message-block">
        <span class="error-message" *ngIf="dealForm.controls['type'].hasError('required') &&
        dealForm.controls['type'].touched"> Type Required </span>
        <span class="error-message" *ngIf="dealForm.controls['type'].hasError('pattern')"> Enter either B or S  </span>
      </div>
    </div>

    <div fxFlex="10" fxFlex.xs="100" >   
    <mat-form-field  appearance="{{'formFieldAppearance' | label}}" style="font-size: 16px;">
        <mat-label class="custom-label" >Currency Number</mat-label>
        <input matInput #currencyNoInputRef (keyup.arrowleft)="onLeftNavigation($event,typeInputRef,'')" (keyup.enter)="onEnterKey($event, fAmountInputRef,'','fAmount')" (input)="onCurrencyNumberChange('','','')" formControlName="currencyNo" [formControl]="dealForm.controls['currencyNo']">
        <mat-icon (click)="openCurrencySearchModal()" class="currencyno-shortcut-icon"
        #tooltip="matTooltip"
                  matTooltip="Open Currency Listings"
                  matTooltipPosition="above"
                  matTooltipClass="custom-tooltip"
        matSuffix>zoom_out_map</mat-icon>
    </mat-form-field>
    <div class="message-block">
        <span class="error-message" *ngIf="dealForm.controls['currencyNo'].hasError('required') &&
        dealForm.controls['currencyNo'].touched"> Currency Number Required </span>
        <span class="error-message" *ngIf="dealForm.controls['currencyNo'].hasError('pattern')">{{'onlyAlphanumeric' | label}}</span>
        <!-- added for max length 4 -->
        <span class="error-message" *ngIf="dealForm.controls['currencyNo'].hasError('maxlength')">{{'currencyNoMaxlength' | label}}</span>
      </div>
    </div>

    <div fxFlex="20" fxFlex.xs="100" style="display: none;">   
    <mat-form-field  appearance="{{'formFieldAppearance' | label}}" style="font-size: 16px;">
        <mat-label class="custom-label" >Currency Code</mat-label>
        <input [readonly]="isReadOnly" #currencyCodeInputRef (keyup.enter)="onEnterKey($event, fAmountInputRef,'','')" matInput formControlName="currencyCode" [formControl]="dealForm.controls['currencyCode']">
    </mat-form-field>
    <div class="message-block">
        <span class="error-message" *ngIf="dealForm.controls['currencyCode'].hasError('required') &&
        dealForm.controls['currencyCode'].touched"> Currency Code Required </span>
      </div>
    </div>

    <div fxFlex="20" fxFlex.xs="100">   
      <mat-form-field  appearance="{{'formFieldAppearance' | label}}" style="font-size: 16px;">
          <mat-label class="custom-label" >Currency Name</mat-label>
          <input  [readonly]="isReadOnly" #currencyNameInputRef (keyup.enter)="onEnterKey($event, fAmountInputRef,'','')" matInput formControlName="currencyName" [formControl]="dealForm.controls['currencyName']">
      </mat-form-field>
      <div class="message-block">
          <span class="error-message" *ngIf="dealForm.controls['currencyName'].hasError('required') &&
          dealForm.controls['currencyName'].touched"> Currency Name Required </span>
        </div>
      </div>

    <div fxFlex="15" fxFlex.xs="100" >   
    <mat-form-field  appearance="{{'formFieldAppearance' | label}}" style="font-size: 16px;" >
        <mat-label class="custom-label" >F.Amount</mat-label>
        <input matInput #fAmountInputRef (keyup.arrowleft)="onLeftNavigation($event,currencyNoInputRef,'currencyNo')" (keyup.enter)="onEnterKey($event, rateInputRef,'','rate')" (input)="onFAmountChange('','','','')" formControlName="fAmount"  appCommaSeparatedInput [formControl]="dealForm.controls['fAmount']">
    </mat-form-field>
    <div class="message-block">
        <span class="error-message" *ngIf="dealForm.controls['fAmount'].hasError('required') &&
        dealForm.controls['fAmount'].touched"> F.Amount Required </span>
      </div>
    </div>

    <div fxFlex="15" fxFlex.xs="100" >   
    <mat-form-field  appearance="{{'formFieldAppearance' | label}}" style="font-size: 16px;">
        <mat-label class="custom-label" >Rate</mat-label>
        <input matInput appendZero [readonly]="isReadRateFields"  #rateInputRef (keyup.arrowleft)="onLeftNavigation($event,fAmountInputRef,'fAmount')" (keyup.enter)="onEnterKey($event, validTillInputRef,'','valueDate')" (input)="onFAmountChange('','','','')" formControlName="rate" [formControl]="dealForm.controls['rate']" style="color:red">
    </mat-form-field>
    <div class="message-block">
        <span class="error-message" *ngIf="dealForm.controls['rate'].hasError('required') &&
        dealForm.controls['rate'].touched"> Rate Required </span>
        <span class="error-message" *ngIf="dealForm.controls['rate'].hasError('pattern')"> Enter Valid Rate  </span>
        <span class="error-message" *ngIf="dealForm.controls['rate'].hasError('min') && dealForm.controls['rate'].touched">{{ minErrorMessage }}, it can be from {{startRate | number: '1.0-6'}} to {{endRate| number: '1.0-6'}}</span>
        <span class="error-message" *ngIf="dealForm.controls['rate'].hasError('max') && dealForm.controls['rate'].touched">{{ maxErrorMessage }}, it can be from {{startRate | number: '1.0-6'}} to {{endRate | number: '1.0-6'}}</span>
      </div>
    </div>

    <div fxFlex="15" fxFlex.xs="100" >   
    <mat-form-field  appearance="{{'formFieldAppearance' | label}}" style="font-size: 16px;">
        <mat-label class="custom-label" >L.Amount</mat-label>
        <input matInput [readonly]="isReadOnly" formControlName="lAmount" [formControl]="dealForm.controls['lAmount']">
    </mat-form-field>
    <div class="message-block">
        <span class="error-message" *ngIf="dealForm.controls['lAmount'].hasError('required') &&
        dealForm.controls['lAmount'].touched"> L.Amount Required </span>
      </div>
    </div>

    </div>

    <div  fxLayout="row wrap" fxLayoutGap="25px"  style="position: relative;left: 10px;"> 
        <div fxFlex="22" fxFlex.xs="100" >   
          <mat-form-field  appearance="{{'formFieldAppearance' | label}}" style="font-size: 16px;">
            <mat-label class="custom-label" >Value Date</mat-label>
            <input #validTillInputRef (click)="datepick.open()" (keyup.arrowleft)="onLeftNavigation($event,rateInputRef,'rate')" (keyup.enter)="onEnterKey($event, remarksInputRef,'','remarks')" [matDatepicker]="datepick" matInput formControlName="valueDate" [formControl]="dealForm.controls['valueDate']" 
            [matDatepickerFilter]="dateFilter">
            <mat-datepicker-toggle matSuffix [for]="datepick" ></mat-datepicker-toggle>
            <mat-datepicker #datepick>
              <!-- <mat-datepicker-actions>
                <button mat-button matDatepickerCancel>Cancel</button>
                <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
              </mat-datepicker-actions> -->
            </mat-datepicker>
        </mat-form-field>
        <div class="message-block">
            <span class="error-message" *ngIf="dealForm.controls['valueDate'].hasError('required') &&
            dealForm.controls['valueDate'].touched"> Value Date Required </span>
            <span class="error-message" *ngIf="dateError"> Previous dates are not supported </span>
          </div>
        </div>
    
        <div fxFlex="20" fxFlex.xs="100" >   
        <mat-form-field  appearance="{{'formFieldAppearance' | label}}" style="font-size: 16px;" >
            <mat-label class="custom-label" >Remarks</mat-label>
            <input matInput #remarksInputRef (keyup.arrowleft)="onLeftNavigation($event,validTillInputRef,'valueDate')" (keyup.enter)="onEnterKey($event,'addDealItems','','')" (input)="dealForm.controls.remarks.setValue(dealForm.controls.remarks.value.toUpperCase())" formControlName="remarks" [formControl]="dealForm.controls['remarks']">
        </mat-form-field>
        <div class="message-block">
          <span class="error-message" *ngIf="dealForm.controls['remarks'].hasError('maxlength')">{{'remarksMaxLength'|label}}</span>
          <span class="error-message" *ngIf="dealForm.controls['remarks'].hasError('pattern')">{{'onlyAlphaNumericAndSpecificSpecialCharacter' | label}}</span> 
          </div>
        </div>

       <div class="panel-btn-pairs"> 
        <div>
        <button mat-raised-button type="button" class="panel-clear-btn" (click)="clearFields()">Clear (F2)</button>
        </div>

        <div>
        <button mat-raised-button class="panel-add-btn"  type="button" [disabled]="!dealForm.valid" (click)="pushDeal()">Add </button>
        </div>
        </div>

        </div>
</form>

    </mat-card>

</div>

</mat-drawer-content>
</mat-drawer-container>
