
.terms-text {
  margin-top: 1px;
  display: block;
  padding-bottom: 1px;
}
.card{
  margin-top: 14px;
  margin-bottom: 14px;   
}
body {
  height: 100%;
  overflow-y: scroll;    // scrollable content 
}

.login-register {
  background-color: #e0e0e0;
  display: flex;
  background-size: cover;
  align-items: center;
}

.orgLogo{
  height: 69px;
}
.orgLogoLayout{
  text-align: center;
  justify-content: center;
}

.example-radio-group {
  flex-direction: column;
  margin: -4px 0;
  align-items: flex-start;
}

.example-radio-button {
  margin: 5px;
}
.example-radi0{
  margin-top: -15px;
  margin-bottom: 14px;
  
}
/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
mat-card{
  background-color: #ffffff;
}
mat-form-field{
  height: 70px;
}

small{
  margin-top: 0.1cm;
  white-space: nowrap;
  font-size: 13px;
}
h4{
  font-size: 35px;
  font-weight: bolder;
  margin-top: 1cm;
}
h5{
  font-size: 14px;
  font-weight: lighter;
}
.button{
margin-left: 0.8cm;
  width: 85%;

}
span{
  font-size: 14px;
}
.sign-in{
  color: gray;
  line-height: 0px;
  position: relative;
  top: -30px;
}


.splash{
  position:fixed;
   top:0;
   left:0;
   width:100%;
   height:100vh;
   z-index:1;
   color:black;
   text-align: center;
   justify-content: center;
}  

// @keyframes fadeIn{
//    to{
//      opacity: 0;
//     }
//  }
// @keyframes fadeout{
//     100%{
//      opacity: 0;
//     }
//     20%{
//       opacity:0;
//     }
    
//  }
//  .fade-in{
//     opacity: 1;
//     width: 100%;
//     // position: absolute;
//     // left: 0;
//     // top: 35%;
//     animation: fadeIn 1.2s ease-in forwards;
    
//  }
 .login-register-box{
    animation: fadeout 1.5s ease-in reverse;
    height: -webkit-fill-available;
    overflow-y: scroll;
 }
 .text-danger{
  white-space: normal;
  line-height: 16px;
 }

 .message-block .error-message  {
  // Hidden by default
  display: none;
}
.message-block .error-message:first-child {
  display: block;
  color: #e8316f;
  margin-top: -8px;
  white-space: break-spaces;
  font-size: small;
}

.mob-number{
  font-size: 14px;
    position: relative;
    top: -6px;
    right: 4px;
}
@media (min-width: 689px) {
  .login-register-box {
    animation: fadeout 1.5s ease-in reverse;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.custom-alert{
  position: relative;
    bottom: 32px;
}
.phone-form {
  display: flex;
  flex-direction: row;
}

::ng-deep .mat-mdc-select-panel::-webkit-scrollbar {
  -webkit-appearance: none;
}

::ng-deep .mat-mdc-select-panel::-webkit-scrollbar:vertical {
  width: 11px;
}

::ng-deep .mat-mdc-select-panel::-webkit-scrollbar:horizontal {
  height: 24px;
}

::ng-deep .mat-mdc-select-panel::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid white; /* should match background, can't be transparent */
  background-color: rgba(0, 0, 0, .5);
}

.sign-link{
  cursor: pointer;
  color: rgb(0, 123, 255);
}



