.p {
  font-family: 'Roboto';
  font-size: 16px;
  margin-left: 8px;
  margin-bottom: 16px;
}

//for Apply Filter button
.buttonApplyfilter {
  background-color: #123969;
  color: white;
  height: 47px;
  margin-top: 5px;
  width: 110px;
  font-size: 16px;
}

p {
  margin: 0.6cm;
  height: 3px;
}

.font1 {
  font-size: 16px;
  font-family: 'Roboto';
  color: #123969;
  cursor: pointer;
}

.font1:hover {
  color: #2896df;
}

.save-btn {
  background-color: #123969;
}

.form-field {
  font-size: medium;
  width: 60%;
  margin-bottom: -16px;
}

.search-filter-1{

  background-color: white;
  /* margin-left: 12px; */
  /* margin-right: 12px; */
  border-radius: 10px;
  height: 90px;
 
  padding-top: 10px;

}

.table-wrapper{
  position: relative;
    top: -3px !important;
}