.whole-background{
  background-color: rgb(247, 250, 252);
  margin: -19px;
  /* top: -48px; */
  padding-top: 11px;
  height: 1117px;
  text-align: -webkit-center;
}
.title-style{
    font-weight: 600;
    font-size: 26px;
    font-style: italic;
    color: #000000;
}
form{
  margin-left: 16px;
    margin-top: 10px;
}
.title-style1{
    font-weight: 600;
    font-size: 26px;
    font-style: italic;
    color: #28b118;
}
.sub-heads{
      
  font-weight: 400;
  font-size: 20px;
  color: #000;
  white-space: nowrap;
}

.mat-mdc-card2{
    height: 62px;
    margin-top: -37px;
    border: 1px solid;
    background-color: white;
    border-radius: inherit;
}
.block{
    flex: 1 1 100%;
    flex-direction: column;
    display: block;
    line-height: 60px;
}

.position{
    margin-left: 160px;
}

.dialogButton{
  margin-left: 15px;
  }  
.mat-mdc-button{
  color: #0e7aff;
  position: relative;
  top: -4px;
  background-color: #dceaff;
  width: 32%;
}

.value{
    padding-left: 180px;
    margin: 0;
}

.searchCustomerName{
   align-items: center;
   justify-content: center; 
   display: flex;
 //  margin-right: 300px;
   
}

.fetchCustomerButton{
  background-color: #e6e6e6;
  color: #123969;
    height: 48px;
}

.height{
    line-height: 4px;
    margin-bottom: 22px;
  }
 .spacing-elements{
    line-height: 3px;
  }

  .key{
  
    color: grey;
    font-weight: 500;
  }
  .val{
   
    font-weight: 500;
  }
  .payeeDetalis{
    // align-items: center;
    // justify-content: center; 
    line-height: 2;
}
.light{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #737479;
   
    // white-space: nowrap;
}
.Dark{
    
    font-style: normal;
    font-weight: 650;
    font-size: 14px;
    color: #1C1939;
    // white-space: nowrap;
}
.mat-stepper-vertical {
    margin-top: 8px;
    line-height: 300px;
  }
  
 

  .stepper-buttons{
    width: 8%;
    height: 39px;
    border-radius: 0.2cm;
    margin: 0.4cm;
    border: 1px solid #123969;
    background-color: white;
    cursor: pointer;
  }
  .stepper-button-area{
    line-height: 115px;
  }



  ::ng-deep .mat-step-text-label {
    font-size: 21px;
  }
.reset-button{
  border-radius: 0.2cm;
    margin: 0.4cm;
    background-color: #ffffff;
    cursor: pointer;
    color: #123969;
    font-size: 17px;
    width: 120px;
    height: 48px;

}

.submit-button{
  width: 120px;
  height: 48px;
  border-radius: 0.2cm;
  margin: 0.4cm;
  cursor: pointer;
  color: white;
  font-size: 17px;
  background-color: #123969;
}
.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 23%;
}
 

.label_element{
 
  font-style: normal;
  font-weight: 650;
  font-size: 18px;
  color: #1C1939;
  white-space: nowrap;
  margin-top: 18px;
}

.numberCircle {
    width: 32px;
    height: 32px;
    line-height: 29px;
    border-radius: 40%;
    margin-top: 12px;
    text-align: center;
    color: #123969;
    background-color: #fff;
    font-size: 16px;
    border: 2px solid #12396970;
}

.element-title{    
  width: 20%;
  margin-top: 10px;
      margin-left: -8px;
      background-color: #d9edff;
      border-radius: 29px;
  }

  *,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0px;
}
.summary-title{
  font-size: 18px;
  text-align: center;
  color: #000;
  background-color: #eef0f3;
  line-height: 52px;

}
// .card__header{
    
// }
body {
 
  display: grid;
  place-items: center;
  height: 100vh;
  background: #7f7fd5;
  background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin-block: 1rem;
  gap: 2rem;
  margin: 30px;
}
.card__image{
margin: 17px;
}

/* Solid border */
hr.solid {
  border-top: 2px solid #bbb;
  margin-top: 8px;

}
.card {
  display: flex;
  flex-direction: column;
  width: clamp(25rem, calc(28rem + 6vw), 29rem);
  overflow: hidden;
  box-shadow: 0 0.1rem 1rem rgb(0 0 0 / 10%);
  border-radius: 0.2cm;
  
//  background: linear-gradient(to right, #FFFFFF, #ECE9E6);
   height: 877px;
    background-color: #f8f8f9f8;
}



.card__body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}




.tag-red {
  background: #cb2d3e;
background: linear-gradient(to bottom, #ef473a, #cb2d3e);
  color: #fafafa;
}

.card__body h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.card__footer {
  display: flex;
  padding: 1rem;
  margin-top: auto;
}

.user {
  display: flex;
  gap: .5rem;
}

.user__image {
  border-radius: 50%;
}

.user__info > small {
  color: #666;
}

.subGroups{
  
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    //line-height: 6px;
   // padding-left: 16px;
   color: #646464;
  }
  .payeeName{
   
   
    font-size: 15px;
   // padding-left: 6px;
   color: #8a8a8a;
  }

  .info{
    margin: 17px;
    line-height: 22px;
  }

  .button1{
    width: 67%;
    border-radius: 0.2cm;
    background-color: #123969;
    color: white;
    padding: 0.2cm;
}

.value{
   
    color: black;
}

.p{
    text-align: center;
    margin-top: 0.2cm;
    color: #2b3032;
   
    font-weight: 500;
    font-size: 14px;
}

.bold-element{
  color: rgb(0, 0, 0);
  font-weight: 300;
  font-size: 17px;
  margin-bottom: 8px;

}
.margin-space{
  margin-bottom: 10px;
  margin-inline-end: 66px;
}

.admin-fee-label{
  margin-right: 30px;
  font-size: 18px;
}

.admin-fee-amount{
  font-size: 18px;
  position: relative;
  top: -2px;
}

.link{
  color: #123969;
    cursor: pointer;
    text-decoration: underline;
    // margin-left: 8px; 
    font-size: 14px;
    position: relative;
    bottom: 4px;
}

mat-error{
  font-size: 20px;
  margin-top: 9px
}

.flex-row{
  display: flex;
  align-items: center;
}


.customername-field{
  width: 393px;
}

.payeename-field{
  width: 470px;
}

.common-form-field{
  width: 350px;
}

.currency-field{
  width: 120px;
}

.remarks-field{
  width: 470px; 
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

