
<div class="whole-background">

    <mat-card appearance="outlined" style="
    text-align: initial;
    border: 1px solid #dadada;
    margin: 14px;">
        <div fxLayout="row" fxLayoutAlign="start">
            <div style="width:80%">
                <div>
                    <form [formGroup]="firstFormGroup">

                        <div class="block">
                            <div class="sub-heads">
                                <div fxLayout="row" fxLayoutGap="10px">
                                    <div class="numberCircle">1</div>
                                    <span>Customer</span>
                                </div>
                            </div>
                            <div class="flex-row" fxLayoutGap="10px" style="margin-left: 30px;place-content: baseline;"
                                class="searchCustomerName">
                                <mat-form-field class="customername-field" appearance="outline">
                                    <mat-label class="custom-label">Customer Name</mat-label>
                                    <input matInput type="text" [formControl]="firstFormGroup.controls['myControl']"
                                        readonly>
                                    <mat-error>
                                        <small *ngIf="firstFormGroup.controls['myControl'].hasError('required')
                          && firstFormGroup.controls['myControl'].touched"> *customer name required </small>
                                    </mat-error>
                                </mat-form-field>

                                <div>
                                    <button mat-flat-button class="fetchCustomerButton" *ngIf="launchButton"
                                        (click)="openCustomerSearch()" type="button">
                                        <mat-icon>zoom_out_map</mat-icon>
                                    </button>
                                    <mat-spinner style="margin-bottom:5px;" diameter="40" *ngIf="loader"></mat-spinner>
                                </div>
                            </div>



                        </div>

                    </form>
                </div>
                <div>
                    <form [formGroup]="secondFormGroup">


                        <div class="block">
                            <div class="sub-heads">
                                <div fxLayout="row" fxLayoutGap="10px">
                                    <div class="numberCircle">2</div>
                                    <span>Payee</span>
                                </div>
                            </div>

                            <div style="margin-left: 30px;place-content: baseline;" fxFlex="row" >
                                <mat-form-field appearance="outline" class="payeename-field">
                                    <mat-label class="custom-label">Payee Name</mat-label>
                                    <mat-select [formControl]="secondFormGroup.controls['payeeName']">
                                        <mat-option *ngFor="let payeeSearch of payeeSearch" ngDefaultControl
                                            [ngModelOptions]="{standalone: true}"
                                            (click)="selectPayee(payeeSearch.NAME,payeeSearch.ACCOUNTNBR,payeeSearch.BANKNAME,payeeSearch.COUNTRY,payeeSearch.PAYEEID,payeeSearch.PHONENBR)"
                                            [(ngModel)]="value" [value]="payeeSearch.NAME"> {{payeeSearch.NAME}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error>
                                        <small *ngIf="secondFormGroup.controls['payeeName'].hasError('required')
                              && secondFormGroup.controls['payeeName'].touched"> *payee name required </small>
                                    </mat-error>
                                </mat-form-field>
                              
                            </div>
                        </div>

                        <div *ngIf="showDetails" style="margin-left: 200px">

                        </div>

                    </form>
                </div>
                <form [formGroup]="thirdFormGroup">

                    <div class="block">
                        <div class="sub-heads">
                            <div fxLayout="row" fxLayoutGap="10px">
                                <div class="numberCircle">3</div>
                                <span>Enter Amount</span>
                            </div>
                        </div>

                        <div>
                            <div fxFlex="row" style="margin-left: 22px;align-items: center;display: flex;" >

                                <mat-form-field class="currency-field"  appearance="{{'formFieldAppearance' | label}}" >
                                    <mat-label class="custom-label">You Send</mat-label>
                                    <span matPrefix  class="{{selectedBaseCurrency}}" style="position: relative;top: -4px; left: -4px;"></span>
                                    <mat-select [(value)]="selectedBaseCurrency">
                                      <mat-option *ngFor="let country of baseCurrencyCode" [value]="country.FLAG" >
                                        <span class="{{country.FLAG}}"></span>
                                        {{country.CURRENCYCODE}}
                                      </mat-option>
                                    </mat-select>
                                  </mat-form-field>

                                <mat-form-field class="common-form-field" style="margin-left: 10px;" appearance="outline">
                                    <mat-label class="custom-label">Amount</mat-label>
                                    <input matInput  #customerAmount formControlName="customerAmount"
                                        [formControl]="thirdFormGroup.controls['customerAmount']" (keyup)="keyUpConsumerSends(customerAmount.value)"  appCommaSeparatedInput>
                                    </mat-form-field>
                             
                             

                            </div>
                        </div>
                        <div>
                            <div fxFlex="row" style="margin-left: 22px;place-content: baseline;display: flex;" >

                                <mat-form-field class="currency-field" appearance="{{'formFieldAppearance' | label}}" >
                                    <mat-label class="custom-label">Payee Gets</mat-label>
                                    <span matPrefix  class="{{selectedCountryCode}}" style="position: relative;top: -4px; left: -4px;"></span>
                                    <mat-select  [(value)]="selectedCountryCode" (selectionChange)="selectCurrencyCode(selectedCountryCode)">
                                      <mat-option *ngFor="let country of currencyCodeArray" [value]="country.FLAG" >
                                        <span class="{{country.FLAG}}"></span>
                                        {{country.CURRENCYCODE}}
                                      </mat-option>
                                    </mat-select>
                                  </mat-form-field>

                                <mat-form-field class="common-form-field" style="margin-left: 10px;" appearance="outline" >
                                    <mat-label class="custom-label">Amount</mat-label>
                                    <input matInput  #payeeAmount (keyup)="keyUpPayeeGets(payeeAmount.value)"
                                        [formControl]="thirdFormGroup.controls['payeeAmount']" appCommaSeparatedInput >
                                    </mat-form-field>

                              
                               
                            </div>
                        </div>
                        <div>
                         
                        </div>
                    </div>
                </form>

                <!-- SHARED / OURS / THEY -->
                <form [formGroup]="fifthFormGroup">

                    <!--NOTE ROW-->
                    <div class="block">
                        <div class="sub-heads">
                            <div fxLayout="row" fxLayoutGap="10px">
                                <div class="numberCircle">4</div>
                                <span>Select Payment mode for charges</span>
                            </div>
                        </div>
               

                        <div fxFlex="row" 
                        style="margin-left: 30px;place-content: baseline;">
                        
                        <mat-radio-group [disabled]="isDisableSharingTypeRadioGroup"
                          aria-labelledby="example-radio-group-label"
                          class="example-radio-group"
                          (change)="sharingTypeChange($event)"
                          [formControl]="fifthFormGroup.controls['sharingType']"
                          [(ngModel)]="selectedSharingType" >
                            <mat-radio-button class="example-radio-button" [value]="type.internalValue"
                            *ngFor="let type of sharingTypeArray" >
                            {{type.value}}
                            ( {{type.subValue}} )
                        </mat-radio-button>
                        </mat-radio-group>
                          
                        </div>


                    </div>
                
                </form>
                <!--Admin fee and remarks-->
                <form [formGroup]="fourthFormGroup">

                    <!--NOTE ROW-->
                    <div class="block">
                        <div class="sub-heads">
                            <div fxLayout="row" fxLayoutGap="10px">
                                <div class="numberCircle">5</div>
                                <span>Admin Fee and Add Remarks</span>
                            </div>
                        </div>
               <div fxLayout="row" fxLayoutGap="30px" style="margin-left: 32px;margin-top: 10px;margin-bottom: 13px;">
                        <h5 class="admin-fee-label">Admin Fee : </h5>
                        <h4 class="admin-fee-amount"> {{adminFee}} SGD </h4>
                </div>

                        <div fxFlex="row" 
                        style="margin-left: 30px;place-content: baseline;">
                            <mat-form-field class="remarks-field" appearance="outline" >
                                <mat-label class="custom-label">Purpose of Remittance</mat-label>
                                <mat-select (selectionChange)="selectRemarks(fourthFormGroup.controls['Remarks'].value)" [formControl]="fourthFormGroup.controls['Remarks']"> 
                                    <mat-option *ngFor="let options of remarksOptions" [value]="options.viewValue">{{options.viewValue}}</mat-option>
                                  </mat-select>
                                <mat-error>
                                    <small *ngIf="fourthFormGroup.controls['Remarks'].hasError('required')
                          && fourthFormGroup.controls['Remarks'].touched"> *purpose of remittance field required </small>
                                </mat-error>
                            </mat-form-field>
                          
                        </div>

                        <div fxFlex="row" 
                        style="margin-left: 30px;place-content: baseline;margin-bottom: 10px;">

                        <mat-form-field  class="remarks-field" *ngIf="showOthersField" appearance="outline" >
                            <mat-label class="custom-label">Others</mat-label>
                            <input matInput  (input)="fourthFormGroup.controls.Others.setValue(fourthFormGroup.controls.Others.value.toUpperCase())"
                              placeholder="Eg: HOUSE RENT" [formControl]="fourthFormGroup.controls['Others']">
                             <mat-error>
                                <small *ngIf="fourthFormGroup.controls['Others'].hasError('required')
                      && fourthFormGroup.controls['Others'].touched"> *Others field required </small>
                            </mat-error>
                        </mat-form-field>

                      

                        </div>

                    </div>
                    <div class="stepper-button-area" class="dialogButton" fxLayout="row">
                        <button mat-raised-button class="reset-button" type="button" (click)="clearForm()">Cancel</button>
                        <button *ngIf="showSubmitButton" mat-raised-button class="submit-button" color="primary" (click)="onSubmit()" type="submit"
                            [disabled]="isDisableSubmit()">Submit</button>
                            <div class="loader-container">
                                <mat-spinner  style="margin:0 auto;" diameter="40" *ngIf="submitButtonLoader"></mat-spinner>
                            </div>
                    </div>
                </form>
            </div>
            <div class="container">
                <div class="card">
                    <div class="card__header">
                        <p class="summary-title">Transfer Summary </p>

                        <div class="info">
                            <p class="bold-element">Customer Information </p>
                            <div fxLayout="row" fxLayoutAlign="space-between center">
                                <div fxLayout="column" class="margin-space">
                                    <p class="subGroups">Name </p>
                                    <p class="payeeName">{{customer_name}}</p>
                                </div>
                                <div fxLayout="column" class="margin-space">
                                    <p class="subGroups">Phone Number </p>
                                    <p class="payeeName"> {{customer_phone}} </p>
                                </div>

                            </div>
                            <div fxLayout="column" class="margin-space">
                                <p class="subGroups">NRIC Number </p>
                                <p class="payeeName"> {{nric_number}} </p>
                            </div>
                            <hr class="solid">

                        </div>
                        <div class="info">
                            <p class="bold-element">Payee Information </p>
                            <div fxLayout="row" fxLayoutAlign="space-between center">
                                <div fxLayout="column" class="margin-space">
                                    <p class="subGroups">Name</p>
                                    <p class="payeeName">{{value}}</p>
                                </div>
                                <div fxLayout="column" class="margin-space">
                                    <p class="subGroups">Account Number</p>
                                    <p class="payeeName"> {{payeeAccountNumber}}</p>
                                </div>

                            </div>
                        <div fxLayout="row" fxLayoutAlign="space-between center">  
                            <div fxLayout="column" class="margin-space">
                                <p class="subGroups">Bank Name </p>
                                <p class="payeeName"> {{payeeBankName}} </p>
                            </div>
                            <div fxLayout="column" class="margin-space">
                                <p class="subGroups">Country </p>
                                <p class="payeeName"> {{payeeCountry}} </p>
                            </div>
                            </div>
                            <hr class="solid">

                        </div>

                        <div class="info">
                            <div fxLayout="row" fxLayoutAlign="space-between center">
                    
                        <p class="bold-element">Amount & Exchange Rate  </p>
                        <a mat-button (click)="openUpdateExchRate()" >Update Exch Rate</a>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="space-between center">

                                <div fxLayout="column" class="margin-space">
                                    <p class="subGroups"> Payee Receives </p>
                                    <p class="payeeName"> {{payeeAmount.value}} {{selectedCurrencyCode}}</p>
                                </div>

                                <div fxLayout="column" class="margin-space">
                                    <p class="subGroups">Exchange Rate  </p>
                                    <p class="payeeName"> 1 SGD = {{ExchangeRate}} {{currencyCode}} </p>
                                </div>

            

                            </div>

                            <div fxLayout="row" fxLayoutAlign="space-between center">

                                <div fxLayout="column" class="margin-space">
                                    <p class="subGroups">  Amount </p>
                                    <p class="payeeName"> {{customerAmount.value}} SGD </p>
                                </div>
                           

                                <div fxLayout="column" class="margin-space">
                                    <p class="subGroups"> Admin Fee </p>
                                    <p class="payeeName"> {{adminFee}} SGD </p>
                                </div>

                            </div>
                           <div fxLayout="column" class="margin-space">
                                <p class="subGroups"> Total Amount </p>
                                <p class="payeeName"> {{totalAmount | number : '1.0-2'}} SGD</p>
                            </div>
                           
                            <hr class="solid">

                        </div>

                        <div class="info">
                            <p class="bold-element">Payment Details and Others </p>
                            <div fxLayout="row" fxLayoutAlign="space-between center">
                            <div fxLayout="column" class="margin-space">
                                <p class="subGroups"> Date </p>
                                <p class="payeeName"> {{myDate | date}} </p>
                            </div>

                            <div fxLayout="column" class="margin-space">
                                <p class="subGroups"> Purpose of Remittance </p>
                                <p class="payeeName"> {{fourthFormGroup.controls['Remarks'].value == "OTHERS" ? fourthFormGroup.controls['Others'].value : fourthFormGroup.controls['Remarks'].value}} </p>
                            </div>

                            </div>

                         

                        </div>

                        <div class="info">



                            <hr class="solid">

                        </div>
                    </div>




                </div>

            </div>

        </div>
    </mat-card>
</div>