
<div fxLayout="row" fxLayoutAlign="space-between">
    <div class="title-label">Confirmation Required</div>
    <mat-icon style="cursor: pointer;" [mat-dialog-close]="true">close</mat-icon>
</div>
<div>
    <h5 class="label"> {{message}} </h5>
    <p class="note-mssg"> {{noteMessage}} </p>
</div>
<div fxLayout="row" fxLayoutAlign="end"  >
    <button class="no-button" (click)="triggerConfirmation('NO')" mat-raised-button> No </button>
    <button class="yes-button" type="button" (click)="triggerConfirmation('OK')" mat-raised-button 
    style="background-color: #123969;color: white;">Yes</button>
</div>

