.label{
    font-family: 'Roboto';
    font-size: 19px;
    color: black;
    margin-left: -9px;
    
}
.title-label{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 19px;
    color: black;
}

.yes-button{
    width: 84px;
    font-size: 16px;
}

.no-button{
    width: 84px;
    font-size: 16px;
    margin-right: 11px;
}

.note-mssg{
    font-family: "Roboto";
    font-size: 15px;
    color: #7b7b7b;
    line-height: 0;
    position: relative;
    top: -9px;
}