<mat-card  appearance="outlined"  class="mat-elevation-z0 profile-card">
  <mat-card-content>
  <p style="text-align: center;color: white;font-weight: bold;height: 0.1cm;">{{customer}}</p>
 
   
  <div fxLayout="row" fxLayoutGap="85px"> 
    <div class="hcont">
      <h4>
        <small>Customer Number</small>
        10011001
      </h4>
    </div>
   <div class="hcont">
      <h4>
        <small>Exchange Rate</small>
        3.07
      </h4>
   </div>
</div>


<div fxLayout="row" fxLayoutGap="105px">
<div class="hcont">
  <h4>
    <small>Amount(SGD)</small>
    1000
  </h4>
</div>
<div class="hcont">
  <h4>
    <small>Amount(MYR)</small>
    2000
  </h4>
</div>
</div>



<div fxLayout="row" fxLayoutGap="105px">
<div class="hcont">
  <h4>
    <small>Amount(SGD)</small>
    1000
  </h4>
</div>
<div class="hcont">
  <h4>
    <small>Money Transferred To</small>
    DBS/UOB
  </h4>
</div>
</div>


<p style="text-align: center;color: white;font-weight: bold;height: 0.1cm;">Payee details</p>


<div fxLayout="row" fxLayoutGap="130px">

<div class="hcont">
  <h4>
    <small>Name</small>
    Meera Bhai
  </h4>
</div>
<div class="hcont">
  <h4>
    <small>Payee Country</small>
    Malaysia
  </h4>
</div>
</div>

<div fxLayout="row" fxLayoutGap="92px">

<div class="hcont">
  <h4>
    <small>Account Number</small>
    12345667
  </h4>
</div>
<div class="hcont">
  <h4>
    <small>Payee Bank</small>
    CIMB
  </h4>
</div>
</div>

<div fxLayout="row" fxLayoutGap="143px">
<div class="hcont">
  <h4>
    <small>Branch</small>
    Penang
  </h4>
</div>
<div class="hcont">
  <h4>
    <small>Bank Swift Code</small>
    CIMB001
  </h4>
</div>
</div>
</mat-card-content>
</mat-card>
 
