<div class="scroll-body" >

  <h2 class="welcome-text" #home id="font-head"> Welcome to Arcade Plaza Traders (APT) Pte Ltd</h2> <br>
  <p class="welcome-text-content" id="font-content"> 
    Your trusted partner in foreign exchange and money transfer services in Singapore.
    </p>
      
    <!-- <img class="home-wallpaper"  width="600" height="400" [src]="homeWallpaper"  #home> -->
    
<!--  
        <h5 class="centered">Our remittance networks to remain as one of the most complete international money transfer service in the market.</h5>
        
        
        <h5 class="centered-2"> Get your free download of APT Money Change App </h5>
        
        <img class="play-store-logo" [src]="googlePayImage" type="file"> -->
      
    
    <mat-divider class="section-divider"></mat-divider>

    <h4 class="sub-heads" #aboutUs id="font-head">About Us</h4>
    
    <mat-divider class="divider"></mat-divider>
    
    
    <div fxLayout="row wrap" style="justify-content: center;" >
    
    <img class="singapore-money-image" [src]="singaporeMoneyImage" type="file"> 
    
    <div fxLayout="column" class="div-aboutus">
    <span class="about-us" id="font-content">
      Established in 1974 and incorporated as a private limited company in 1983,
       APT has been a cornerstone of the financial community in Raffles Place, 
       Singapore's premier business district. With over 50 years of expertise, 
       we have developed a deep understanding of the foreign exchange market and have established 
       a strong reputation for reliability and excellence.
    </span>
    <span class="about-us" id="font-content">
      At APT, our commitment lies in providing tailored solutions to meet your currency exchange needs.
       Whether you're an individual or a corporation, 
       we offer competitive rates and efficient services to ensure that your transactions are seamless and cost-effective. 
       With a widespread clientele worldwide, we specialize in extensive import and export of foreign currencies, 
       setting a benchmark in the market.
    </span>
    <span class="about-us" id="font-content">Licensed by the Monetary Authority of Singapore, 
      APT specializes in facilitating money transfers from Singapore to overseas accounts.
       Our streamlined process ensures swift and secure transfers at minimal charges, 
      allowing you to manage your international transactions with confidence.
    </span>
    <span class="about-us" id="font-content">
      Our dedicated team of professionals is here to assist you every step of the way.
       We value integrity and transparency in all our dealings, 
      ensuring that you receive personalized service and the best possible rates.
    </span>
    <span class="about-us" id="font-content">
      Explore our website to learn more about our services and how we can assist you with your foreign exchange and money transfer needs. 
      Contact us today to experience the APT difference.
    </span>

    <span class="about-us" id="font-content">
      Arcade Plaza Traders Pte Ltd - Your trusted partner in foreign exchange and money transfers.
    </span>
    </div>
    </div>
    <div>
    <h4 class="sub-heads" #ourMission  id="font-head">Our Mission</h4>

    <mat-divider class="divider"></mat-divider>

    <p class="content" id="font-content">
      At Arcade Plaza Traders Pte Ltd, 
      we are dedicated to delivering exceptional financial services that are customized to meet our clients'
       specific needs. Our core values include a commitment to transparency, integrity, 
       and reliability across all aspects of our operations. By prioritizing customer satisfaction and 
       strict adherence to regulatory standards,
       we aim to cultivate enduring relationships and become a trusted partner in the financial industry. 
    </p>
   </div>
    
    <h4 class="sub-heads" #whatweoffer  id="font-head">What we Offer</h4>
    
    <mat-divider class="divider"></mat-divider>
    
    <div class="what-we-offer-layout">
    
    <img class="what-we-offer-img" [src]="handFullMoney" type="file">

    
    
    <div class="what-we-offer-content">
      
    <span class="sub-heads-label" id="font-content">
       MONEY EXCHANGE :
      </span>
    <br>
    <p class="what-we-offer-content" id="font-content">
      We all have to one time or the other have to exchange foreign currencies for the purpose of business, travel, overseas education or simply for investment.
    Be it for business or for individual needs, we exactly know what is expected from us. From wholesale foreign currency supply to banks.
    </p>
    
    </div>
    
    <div class="what-we-offer-content-2">
      
      <span class="sub-heads-label-2" id="font-content">
         MONEY TRANSFER :
        </span>
      <br>
      <p class="what-we-offer-content-2"  id="font-content">
        World Wide Transfer of funds to overseas bank accounts can be a hassle and expensive. Be it for business or personal need, we have tailored our currency transfer services to be cheap and convenient for you.
        Our rates are very competitive with minimum charges as low as $20 or less.
      </p>
      
      </div>
    
    
    </div>
    
    <div >
      <h4 class="sub-heads" #ourTeam  id="font-head">Our Team</h4>

      <mat-divider class="divider"></mat-divider>

      <p class="content" id="font-content">
        Meet the Visionary Leaders at Arcade Plaza Traders Pte Ltd
      </p>
      <p class="content" id="font-content">
        At Arcade Plaza Traders Pte Ltd, our success is driven by our talented and dedicated team of professionals. 
        Get to know the visionary leaders who steer our company towards excellence:
      </p>
      <p class="side-heading" id="font-content">
        Abdul Salam – Founder and Managing Director
      </p>
      <p class="content" id="font-content">
        Abdul Salam holds the role of Managing Director at Arcade Plaza Traders Pte Ltd,
         where he leverages his entrepreneurial vision and leadership to drive the company's success.
          With a wealth of experience in the financial industry, 
          Abdul Salam oversees the strategic direction and day-to-day operations of the organization.
           His innovative approach and commitment to excellence have been instrumental in establishing
            Arcade Plaza Traders Pte Ltd as a trusted name in the financial services sector.
      </p>
      <p class="side-heading" id="font-content">
        Mohamed Mydeen – Director and Chief Compliance Officer
      </p>
      <p class="content" id="font-content">
        As a Director and Chief Compliance Officer at Arcade Plaza Traders Pte Ltd, Mohamed Mydeen brings a blend of expertise and leadership to the company. With a comprehensive background in compliance and regulatory affairs, he ensures that Arcade Plaza Traders Pte Ltd adheres to all legal and ethical standards. His strategic guidance and dedication to upholding the highest levels of compliance are integral to the company's operations. His proactive approach and commitment to regulatory excellence contribute to Arcade Plaza Traders Pte Ltd.’s reputation as a trustworthy and responsible financial institution.

      </p>
     </div>

     <div>
      <h4 class="sub-heads" #ourServices  id="font-head">Our Services</h4>

      <mat-divider class="divider"></mat-divider>

      <p class="side-heading"  id="font-content">
        Money Exchange Services
      </p>
      <p class="content" id="font-content">
        At Arcade Plaza Traders Pte Ltd, we offer comprehensive money exchange services to meet all your currency exchange needs. 
         Whether you're traveling abroad or conducting business transactions,
         our hassle-free exchange solutions ensure seamless and efficient currency conversions.
      </p>
      <p class="side-heading" id="font-content">
        Key Features:
      </p>
        <ul class="content" id="font-content">
          <li>
            <b>Competitive Exchange Rates:</b> We provide competitive exchange rates 
            to ensure that you get the best value for your money when converting currencies.
          </li>
          <li>
            	<b>Wide Range of Currencies:</b> With access to a wide range of currencies, including major and exotic currencies, 
              we can accommodate your currency exchange requirements worldwide.
          </li>
          <li>
            	<b>Fast and Secure Transactions:</b> Our streamlined processes and robust security measures ensure fast and secure currency exchanges, 
              giving you peace of mind with every transaction.
          </li>
          <li>
            <b>Dedicated Customer Support:</b> Our friendly and knowledgeable team is always 
            on hand to provide personalized assistance and address any queries or concerns you may have.
          </li>
        </ul>
        <p class="side-heading" id="font-content">
          Cross-Border Money Transfer Services
        </p>
        <p class="content" id="font-content">
          At Arcade Plaza Traders Pte Ltd,
           we offer reliable and efficient cross-border money transfer services to meet the diverse needs of our clients. 
           Whether you are sending funds for personal or business purposes,
           we provide seamless solutions to facilitate secure and timely transactions worldwide.
        </p>
        <p class="side-heading" id="font-content">
          Key Features:
        </p>
        <ul class="content" id="font-content">
          <li>
            <b>Global Reach:</b> With our extensive network of banking partners and strategic alliances,
             we ensure that your funds can be transferred to virtually any destination around the globe.
          </li>
          <li>
            <b>Competitive Rates:</b>We offer competitive exchange rates and low transaction fees,
            allowing you to maximize the value of your money when sending funds internationally.
          </li>
          <li>
            <b>Secure and Reliable:</b> Our state-of-the-art security measures and compliance protocols
             ensure that your transactions are conducted securely and in accordance with regulatory standards.
          </li>
          <li>
            <b>Fast and Efficient:</b> We understand the importance of speed when it comes to cross-border money transfers.
            Our streamlined processes and efficient execution ensure that your funds reach their destination promptly.
          </li>
          <li>
          	<b>Dedicated Support:</b> Our team of experienced professionals is committed to providing personalized assistance and support throughout the money transfer process. 
            Whether you have questions or need assistance, we are here to help.
          </li>
        </ul>
        <p  class="side-heading" id="font-content">
          How It Works: 
        </p>
        <ul class="content" id="font-content">
          <li>
            <b>Initiate Transfer: </b>Simply provide us with the details of your transfer,
             including the recipient's information and the desired destination.
          </li>
          <li>
            <b>Confirm Details:</b>Review and confirm the transaction details,
             including the exchange rate and any applicable fees.
          </li>
          <li>
            <b>Transfer Funds:</b>Once everything is verified, 
            we will initiate the transfer of funds to the designated recipient.
          </li>
          <li>
            <b>Track Transaction:</b>Monitor the progress of your transfer through our online platform
             or contact our support team for real-time updates.
          </li>
        </ul>
     </div>
     <div>
      <h4 class="sub-heads" #whyChooseUs  id="font-head">Why Choose Us? </h4>

      <mat-divider class="divider"></mat-divider>
      <p class="content" id="font-content">
        Arcade Plaza Traders Pte Ltd offers a range of unique selling points that 
        set us apart in the financial services industry:
      </p>
      <ol class="content" id="font-content">
        <li>
          <b>Extensive Industry Experience: </b>With decades of combined experience in the financial industry,
          our team brings unparalleled expertise and insight to every client interaction.
        </li>
        <li>
          <b>	Competitive Rates:</b>We offer competitive exchange rates and transaction fees,
           ensuring that our clients get the best value for their money when conducting foreign exchange or remittance transactions.
        </li>
        <li>
          <b>Exceptional Customer Service:</b>: At Arcade Plaza Traders Pte Ltd, 
          we prioritize customer satisfaction above all else. Our dedicated team is committed to providing personalized service and assistance to meet the individual needs of each client.
        </li>
        <li>
        <b>Regulatory Compliance: </b>As a responsible financial institution, we adhere strictly to all regulatory requirements and compliance standards. 
        Clients can trust that their transactions are conducted with integrity and transparency.
      </li>
      </ol>
     </div>
     <div>
      <h4 class="sub-heads" #compliance id="font-head">Compliance</h4>
    
    <mat-divider class="divider"></mat-divider>
    <p class="content" id="font-content">
      Compliance at Arcade Plaza Traders Pte Ltd
    </p>
    <p class="content" id="font-content">
      Arcade Plaza Traders Pte Ltd is deeply committed to regulatory compliance and robust anti-money laundering (AML) 
      measures. We understand the importance of maintaining the integrity of the financial system and preventing illicit activities,
       which is why we prioritize adherence to all relevant regulations and guidelines.
    </p>
    <p class="content" id="font-content">
      Our commitment to regulatory compliance is reflected in our rigorous internal policies and procedures. 
      We have established comprehensive protocols to ensure that all our operations comply with applicable laws and regulations. This includes thorough due diligence processes for client onboarding,
       ongoing monitoring of transactions, and regular audits to assess and enhance our compliance framework.
    </p>
    <p class="content" id="font-content">
      In addition to regulatory compliance, we place a strong emphasis on AML measures to prevent money laundering and the financing of terrorism. 
      We have implemented stringent Know Your Customer (KYC) procedures to verify the identity of our clients and assess the risk associated with their transactions. Our AML controls include transaction monitoring, 
      suspicious activity reporting, and staff training programs to ensure that all employees are equipped to identify and mitigate AML risks effectively.
    </p>
    <p class="content" id="font-content">
      At Arcade Plaza Traders Pte Ltd, we view regulatory compliance and AML measures as fundamental pillars
       of our business operations. By upholding the highest standards of integrity and transparency, 
       we strive to build trust with our clients, regulators, and stakeholders,
       and contribute to the stability and integrity of the financial system.
    </p>
     </div>
    <h4 class="sub-heads" #faq id="font-head">FAQ</h4>
    
    <mat-divider class="divider"></mat-divider>
    
    
    <mat-accordion  *ngFor="let arr of faqArray" >
      <mat-expansion-panel>
        <mat-expansion-panel-header [collapsedHeight]="customCollapsedHeight" [expandedHeight]="customExpandedHeight">
          <mat-panel-title class="panel-title"  id="font-content">
            {{arr.question}}
          </mat-panel-title>
        </mat-expansion-panel-header>
    
      <p class="panel-content" id="font-content">
        {{arr.answer}}
      </p>
    
      </mat-expansion-panel>
      </mat-accordion>
    
      <div class="container" #contactUs>
    
        <h4 class="contact-heading" id="font-head">Contact Us</h4>
    
    <mat-divider class="contact-divider"></mat-divider>
    
    <div fxLayout="row wrap" fxLayoutGap="30px">
    
    <img class="org-location-img" [src]="orgMapLocation" type="file">
    
    
    <div fxLayout="column"  style="text-align: justify">
    <div>  
    <h5 class="label" id="font-label"> Contact Information : </h5>
    <span class="value" id="font-value"> APT Remittance </span>
    </div>
    
    <div>  
      <h5 class="label" id="font-label"> Address :</h5>
      <span class="value" id="font-value"> 11 Collyer Quay #02-03 The Arcade Singapore 049317 </span>
    </div>
    
    <div>  
      <h5 class="label" id="font-label"> Contact Number :</h5>
      <span class="value" id="font-value">TEL:+65 62277660 </span> <br>
      <span class="value" style="margin-top: -10px;" id="font-value"> FAX:+65 62209887 </span>
    </div>
    
    <div> 
      <h5 class="label" id="font-label"> Email Address :</h5>
      <span class="value" id="font-value">remittance@aptonline.com.sg </span>
    </div>

    <mat-divider class="section-divider-2"></mat-divider>

    <h5 class="centered-2"  id="font-content"> Get your APT Money Change App </h5>
       
    <div fxLayout="row" fxLayoutAlign="start">

      <img class="play-store-logo" (click)="launchPlayStore('GP')" [src]="googlePayImage" type="file">

      <img class="app-store-logo" (click)="launchPlayStore('AP')" [src]="appStoreImage" type="file">

    </div>
    
    </div>
    
    </div>
   
    
    <!-- <div class="feedback-card" [ngStyle]="responsiveContainer()">
    
      <h4 class="sub-heads"  style="position: relative;top: 28px;">Send us some feedback !</h4>
    
    <mat-divider class="divider" style="position: relative; top: 31px;"></mat-divider>
    
    <div fxLayout="row wrap" fxLayoutAlign="space-around">
    
    <div fxLayout="column wrap" style="position: relative; top: 49px;">
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label class="custom-label">Full Name</mat-label>
          <input matInput>
        </mat-form-field>
    
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label class="custom-label">Email Address</mat-label>
          <input matInput>
        </mat-form-field>
    
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label class="custom-label">Subject</mat-label>
          <input matInput>
        </mat-form-field>
    
    
    </div>
    
    <mat-form-field appearance="outline" style="width: 34%;position: relative; top: 49px;">
      <mat-label class="custom-label">Message</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
    
    </div>
    
    <button class="mat-btn-3"  mat-raised-button>Submit</button>
    
    
    
    </div> -->
    
    <!-- <div fxLayout="column" fxLayoutGap="20px">
    <div fxLayout="row">
    <h5>Home</h5> <div class="vl"></div>
    <h5>About Us</h5> <div class="vl"></div>
    <h5>What we Offer</h5> <div class="vl"></div>
    <h5>FAQ</h5> <div class="vl"></div>
    <h5>Contact Us</h5> <div class="vl"></div>
    </div>
    
    <h5>©Copyright 2016 APT Money Change Pte Ltd.</h5>
    
    </div> -->
    <br>
    <footer class="footer-note" id="font-value">
      <p>Arcade Plaza Traders Pte Ltd is licensed (License No. PS20200050) by the Monetary Authority of Singapore (MAS)
         as a Major Payment Institution under the Payment Services Act.
         We are authorized to conduct regulated activities,
      including Money Changing Service and Cross-Border Money Transfer Service.</p></footer>
  
    
      </div>
      
    </div> 
