
<!--VIEW PAYEE-->
<!-- <p style="font-weight: bold;text-align: center;">View Payee</p>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
<mat-form-field appearance="outline">
    <mat-label class="custom-label">Payee Account Number/IBAN Number</mat-label>
    <input matInput  formControlName="AccountNumber" [formControl]="form.controls['AccountNumber']" [readonly]="true">
</mat-form-field>

<mat-form-field appearance="outline">
    <mat-label class="custom-label">Payee Name</mat-label>
    <input matInput  formControlName="payeeName" [formControl]="form.controls['payeeName']" [readonly]="true" >
</mat-form-field>

<mat-form-field appearance="outline">
    <mat-label class="custom-label">Phone Number</mat-label>
    <input matInput  formControlName="PhoneNumber" [formControl]="form.controls['PhoneNumber']" [readonly]="true" >
</mat-form-field>

<mat-form-field appearance="outline">
    <mat-label class="custom-label">Email Id</mat-label>
    <input matInput  formControlName="EmailId" [formControl]="form.controls['EmailId']" >
</mat-form-field>

<mat-form-field appearance="outline">
    <mat-label class="custom-label">Address</mat-label>
    <input matInput formControlName="payeeAddress" [formControl]="form.controls['payeeAddress']">
</mat-form-field>

<mat-form-field appearance="outline">
    <mat-label class="custom-label">State</mat-label>
    <input matInput formControlName="payeeState" [formControl]="form.controls['payeeState']" >
</mat-form-field>

<mat-form-field appearance="outline">
    <mat-label class="custom-label">Payee Country</mat-label>
    <input matInput formControlName="payeeCountry" [formControl]="form.controls['payeeCountry']">
</mat-form-field>

<p style="font-weight: bold;">Payee Bank details</p>

<mat-form-field appearance="outline">
    <mat-label class="custom-label">Bank name</mat-label>
    <input matInput formControlName="bankName" [formControl]="form.controls['bankName']" [readonly]="true">
</mat-form-field>

<mat-form-field appearance="outline">
    <mat-label class="custom-label">Swift Code</mat-label>
    <input matInput formControlName="swiftcode" [formControl]="form.controls['swiftcode']" [readonly]="true">
</mat-form-field>

<mat-form-field appearance="outline">
    <mat-label class="custom-label">Branch Address</mat-label>
    <input matInput formControlName="bankAddress" [formControl]="form.controls['bankAddress']">
</mat-form-field>

<mat-form-field appearance="outline">
    <mat-label class="custom-label">Country</mat-label>
    <input matInput formControlName="bankCountry" [formControl]="form.controls['bankCountry']">
</mat-form-field>

<div style="text-align: center;">
<button style="width: 80%;" mat-raised-button color="primary" type="submit">Send Money</button>
</div>

</form> -->