.green{
  background-color: #123969;
  width: 3cm;
  color: white;
}

.blue{
  background-color: #fcfcfc;
  width: 3cm;
  color: #123969;
}
  
  .deactivate{
   justify-content: center;
   align-items: center;
   margin-top: 7px;
   margin-bottom: 15px;
   }

   .task-header {
font-size: 18px;
    background-color:#123969;
   color: white;
   height: 50px;
  
  }
  .reset-label{
    margin-left: 17px;
    color: #656565;
    line-height: 0;
  }
  