<div class="login-register">
    <div class="login-register-box">

<alert></alert>

<div class="tickicon-layout">
    <mat-icon class="tickicon">check_circle_outline</mat-icon>
</div>

<h2>Registration Successful !</h2>

<span class="span-message">
    Your account is registered
</span>

<div fxLayout="row" fxLayoutGap="20px" style="margin-top: 61px;text-align: center;justify-content: center;">

    <button mat-button type="button" mat-raised-button (click)="cancel()" >
        Login
     </button>

    <!-- <button mat-button type="button" mat-raised-button color="primary" (click)="goToDashboard()" >
       Go to dashboard
    </button> -->



    
</div>

</div>
</div>
