.toolbar-header{
    display: flex;
    justify-content: space-between;
    background-color: #123969;
    color: white;
    padding: 10px;
}
h3{
    font-size: 19px;
    line-height: 0;
}

.txn-details-row{
    position: relative;
    top: 10px;
    left: 10px;
}

.txn-id{
       font-family: "Roboto";
       font-size: 17px;
       color: #4c4c4c;
}

.txnid-value{
    font-family: "Roboto";
    font-size: 17px;
    color: rgb(0, 0, 0);
}


.section-divider {
    border-top-color: #dddddd;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 11px;
}
.close-btn{
    background-color: white;
    color: black;
    font-size: 17px;
    border-radius: 6px;
    border: solid 1px gray;
    height: 41px;
    width: 83px;
    cursor:pointer;
    font-family: "Roboto";

}
.save-btn{
    font-size: 16px;
    border-radius: 6px;
    height: 41px;
    width: 139px;	
    font-family: "Roboto";
}
.button-row{
    display: flex;
    justify-content: right;
    margin: 23px;
}


.amount-row{
    font-family: "Roboto";
    position: relative;
    top: -2px;
    left: 10px;
}